<section class="cartpage1 cart-cards">
    <div class="container">
        <div class="row mar-top40 mar-bot20">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>CHECK OUT</h3>
                <hr>
                <div class="row steps-row">
                    <div class="col-sm-12">
                        <ol class="cd-multi-steps text-bottom">
                            <li class="ol-visited">
                                <a href="javascript:void(0)">Pickup Details</a>
                            </li>
                            <li class="current">
                                <a href="javascript:void(0)">Payment Options</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Order Summary</a>
                            </li>
                        </ol>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mar-top10 mar-bot20">
            <flash-messages></flash-messages>
            <div *ngIf="isAddNewCard; then showAddNewCard else showCardList"></div>
            <ng-template #showAddNewCard>
                <div class="col-md-7 card-box">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title card-title2">
                                    <a> Add a New Card
                                        <img src="assets/images/cards.png" alt="" width="260" class="card-all">
                                    </a>
                                    <p>Please enter your card details.</p>
                                </h4>
                            </div>
                            <div id="collapse-newcard" class="panel-collapse">
                                <div class="panel-body">
                                    <form class="new-card mar-top10 col-sm-9 col-sm-offset-1" (ngSubmit)="saveCardDetailsToStripe()">
                                        <div class="form-group">
                                            <label for="">NAME ON CARD*</label>
                                            <input class="form-control" type="text" name="name" autocomplete='cc-name' placeholder="Name on Debit / Credit Card" required="">
                                        </div>
                                        <div class="form-group">
                                            <label for="">CARD NUMBER*</label>
                                            <input class="form-control" type="tel" autocomplete="cc-number" id="cc-number" ccNum name="number" placeholder="Card Number">
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 form-group">
                                                <label for="">EXPIRE DATE*</label>
                                                <input class="form-control" type="tel" autocomplete="cc-exp" id="cc-exp" ccExp name="month" placeholder="mm / yyyy*">
                                            </div>
                                            <div class="col-sm-6 form-group">
                                                <label for="">CVV*</label>
                                                <input class="form-control" type="tel" autocomplete="cc-csc" id="cc-cvc" ccCvc name="cvv" placeholder="cvv*">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="">ZIP CODE*</label>
                                            <input class="form-control" type="text" name="zip" autocomplete="zip" placeholder="Zip Code" required="">
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                                <button class="btn save-card-btn">Add Card</button>
                                            </div>
                                            <p class="go-map pull-right">
                                                <a href="javascript:;" (click)="showCardListing()">Cancel</a>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #showCardList>
                <div class="col-md-7">
                    <ng-template *ngIf="userSavedCards.length == 0;then noCardsList else yesCardsList"></ng-template>
                    <ng-template #noCardsList>
                        <h5 style="text-align: center;">You have no Saved Cards</h5>
                    </ng-template>
                    <ng-template #yesCardsList>
                        <div *ngFor="let cards of userSavedCards; let i = index" class="row mar-bot10">
                            <div class="col-sm-12 card-box card-edit-box">
                                <p class="card-edit-p">
                                    <a href="javascript:;">Card {{i+1}}</a>
                                </p>
                                <div class="panel-group">
                                    <div class="panel panel-default" (click)="selectCard($event)">
                                        <div class="panel-heading" attr.data-src="{{cards.id}}">

                                            <div>
                                                <img src="{{cards.card.brand | cardImage }}" width=50>
                                                <h4 class="panel-title card-title2">
                                                    <span class="cardname">{{cards.card.brand }} </span><span class="cardnumber">Ending ****{{cards.card.last4}}</span>
                                                </h4>
                                            </div>
                                            <a class="card-edit-a delete" href="javascript:;" (click)="deleteCard(cards.id)">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="edit-add-card">
                                <a href="javascript:;" (click)="addNewCard()">Add a new Card</a>
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>

            <div class="col-md-5">
                <div class="row card-pickup">
                    <h4>Pickup Location</h4>
                    <p>{{establishmentData.name}}</p>
                    <p class="grey mar-bot50">{{establishmentData.address}}</p>
                    <agm-map style="width:100%;max-width:310px;height:180px;" [latitude]="establishmentLatitude" [longitude]="establishmentLongitude"
                        [scrollwheel]="false" [zoom]="zoom">
                        <agm-marker [latitude]="establishmentLatitude" [longitude]="establishmentLongitude"></agm-marker>
                    </agm-map>
                    <h4 class="mar-top45">Pickup Time</h4>
                    <p class="mar-bot40">{{ userPickupTime | amDateFormat: 'MMMM D, dddd' }}
                        <br>{{ userPickupTime |amDateFormat: 'hh:mm a' }}</p>
                    <div class="row" style="text-align:center;">
                        <div class="col-sm-12">
                            <button class="btn btn-next mar-top20 mar-bot20" (click)="goToPlaceOrder()">Next &nbsp;
                                <i class="fa fa-angle-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- , exp {{cards.card.exp_month}}/{{cards.card.exp_year.toString() | slice:-2 -->