<section class="loginsignuppage">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pageheadinginner">
                        <h2 class="col-primary">Forgot Password</h2>
                    </div>
                    <flash-messages></flash-messages>
                    <form [formGroup]="forgotpasswordForm" class="passwordform col" id="forgotpasswordForm" (ngSubmit)="onForgotPassword()">
                        <div class="form-group mar-top50">
                            <input class="form-control" type="email" formControlName="email" name="email" placeholder="Email Address" required="" autocomplete="user email">
                            <label class="validate-error" *ngIf="email.invalid && email.errors.required && email.touched">
                                Please enter a valid email address
                            </label>
                            <a [routerLink]="['/login']" class="backlogin">Back to Log In</a>
                        </div>
                        <div class="form-group">
                            <button [disabled]="!forgotpasswordForm.valid" type="submit" class="btn btn-password mar-top50">Reset Password</button>
                            <span class="backregister col-primary">No Account?
                                <a [routerLink]="['/login']">Sign Up</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>