.productdetailpage {
    padding-top: 80px;
}

.productdetailpage .container {
    max-width: 970px;
}

.qty-input1 {
    width: 110px;
    border-bottom: 0;
    float: right;
    margin-left: 15px;
}

.btn-qty-input1 {
    width: 30%;
    border: 1px solid #979797 !important;
}

.btn-qty-input1:nth-of-type(1) {
    width: 30%;
    border: 1px solid #979797 !important;
    border-radius: 5px 0 0 5px;
}

.btn-qty-input1:nth-of-type(2) {
    width: 30%;
    border: 1px solid #979797 !important;
    border-radius: 0 5px 5px 0;
}

.btn-qty-input1 button {
    height: 28px;
    line-height: 18px;
    padding: 5px;
}

.text-qty-input1 {
    height: 30px;
    border-top: 1px solid #979797 !important;
    border-bottom: 1px solid #979797 !important;
}

.near-font {
    max-width: 940px;
    margin: auto;
    padding: 5px 0 0 0;
}

.near-font .pickup1 {
    margin-right: 0;
}

.near-font .fa {
    margin-left: 7px !important;
}

.right-drop .arrow {
    position: absolute;
    margin-top: -21px;
    margin-left: 165px;
    transition: 0.5s;
}

.right-drop.open .arrow {
    transform: rotate(180deg);
}

@media (max-width: 369px) {
    .pickupheader {
        margin-top: 137px;
    }
}

.qty-input1 {
    width: 135px;
}

.qty-input1 input.text-qty-input1 {
    width: 65px;
    height: 34px;
}

.btn-qty-input1:nth-of-type(1) {
    border-radius: 9px 0 0 9px;
}

.btn-qty-input1:nth-of-type(2) {
    border-radius: 0 9px 9px 0;
}

.near-font .arrow {
    margin-left: 0;
    margin-top: 0;
    position: static;
}

.near-font .arrow .fa {
    color: #9B9B9B !important;
}

.near-font .right-drop {
    margin-right: 0;
    text-align: left;
}

.qty-input1 input.text-qty-input1 {
    line-height: 30px;
}

@media (max-width: 767px) {
    .pickupheader {
        margin-top: 130px;
    }
}

@media (max-width: 360px) {
    .productdetailpage {
        padding-top: 10px !important;
    }
}