<div class="pickupheader profile-head"></div>

<section class="productdetailpage">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li>
                        <a [routerLink]="['/productlisting']">DEALS </a>
                    </li>
                    <li>
                        <a [routerLink]="['/productlisting', establishmentData['id']]">{{establishmentData['name'] | uppercase}}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/productlisting', establishmentData['id'], productData['category']]">{{productData['category'] | uppercase}}</a>
                    </li>
                    <li class="active">{{productData['name'] | uppercase}}</li>
                </ol>
            </div>
            <div class="col-sm-12">
                <div class="account-info-box">
                    <div class="row mar-top40 mar-bot40">
                        <div class="col-sm-4">
                            <div class="productdetailimage">
                                <img src="{{ productData | productImageUrl}}">
                                <!-- <div class="bestdeal">
                                    <span><i class="icon fa fa-heart-o"></i> BEST</span>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="productdetail">
                                <div align="right">
                                    <label class="detail-btn">{{offerData['endsAt'] | daysLeft}}</label>
                                    <div *ngIf="offerData['remQty'] <= 0;then outOfStock else inStock"></div>
                                    <ng-template #outOfStock>
                                        <label class="detail-btn">Out Of Stock</label>
                                    </ng-template>
                                    <ng-template #inStock>
                                        <label class="detail-btn">{{offerData['remQty']}} / {{offerData['totalQty']}} LEFT</label>
                                    </ng-template>
                                </div>

                                <h1>{{productData.name}} {{productData.varietal}}</h1>
                                <div class="ratings">
                                    <star-rating-comp [starType]="'svg'" [staticColor]="'ok'" [direction]="'ltr'" [step]="0.1" [showHalfStars]="true" [readOnly]="true"
                                        [rating]="productData.rating"></star-rating-comp>
                                </div>
                                <div class="pricequantity">
                                    <div class="detailsprice">
                                        <span class="price-cut" *ngIf="offerData['originalPrice'] != offerData['salePrice']">${{offerData['originalPrice']}}</span>
                                        <span class="price-special">${{offerData['salePrice']}}</span>
                                    </div>
                                    <div *ngIf="offerData['remQty'] <= 0;then outOfStock else quantitycounter"></div>
                                    <ng-template #quantitycounter>
                                        <div class="quantitycounter">
                                            <label>Quantity:</label>
                                            <div class="input-group qty-input1">
                                                <span class="input-group-btn btn-qty-input1">
                                                    <button class="btn btn-default less" type="button" (click)="changeQuantity($event)">-</button>
                                                </span>
                                                <input type="text" name="quantity" readonly class="form-control text-qty-input1" value="{{productData.tmpCount}}">
                                                <span class="input-group-btn btn-qty-input1">
                                                    <button class="btn btn-default more" type="button" (click)="changeQuantity($event)">+</button>
                                                </span>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                                <div class="productattribute col-sm-10">
                                    <div *ngIf="productData.category == 'Wine'; then showWineDetail"></div>
                                    <ng-template #showWineDetail>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Alc. content </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.alcContent}}</div>
                                        </div>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Country </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.country}}</div>
                                        </div>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Region </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.region}}</div>
                                        </div>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Year </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.year}}</div>
                                        </div>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Size </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.size}}{{productData.units}}</div>
                                        </div>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Varietal </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.varietal}}</div>
                                        </div>
                                        <!-- <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Flavor note </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.flavorNote}}</div>
                                        </div> -->
                                    </ng-template>

                                    <div *ngIf="productData.category == 'Liquor'; then showLiquorDetail"></div>
                                    <ng-template #showLiquorDetail>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Alc. content </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.alcContent}}</div>
                                        </div>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Country </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.country}}</div>
                                        </div>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Size </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.size}}{{productData.units}}</div>
                                        </div>
                                    </ng-template>

                                    <div *ngIf="productData.category == 'Beer'; then showBeerDetail"></div>
                                    <ng-template #showBeerDetail>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Alc. content </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.alcContent}}</div>
                                        </div>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Country </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.country}}</div>
                                        </div>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Size </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.size}}{{productData.units}}</div>
                                        </div>
                                        <!-- <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Flavor note </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.flavorNote}}</div>
                                        </div> -->
                                    </ng-template>

                                    <div *ngIf="productData.category == 'Mixer'; then showMixerDetail"></div>
                                    <ng-template #showMixerDetail>
                                        <div class="row row-product">
                                            <div class="col-xs-4 attribute-name">Country </div>
                                            <div class="col-xs-8 attribute-detail">{{productData.country}}</div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 col-sm-offset-1 product-description mar-top50">
                            <div *ngIf="productData.description !== undefined && productData.description != ''; then showDescContent"></div>
                            <ng-template #showDescContent>
                                <h3>Product Description</h3>
                                <p>{{productData.description}}</p>
                            </ng-template>
                        </div>
                        <div class="col-sm-9 col-sm-offset-1 product-notes">
                            <h3>Product Notes</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="title">Color:</p>
                                    <p class="note">White - Silver Glow - Light Body</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="title">Aroma and Flavor:</p>
                                    <p class="note">Crisp, Citrus, Tropical Fruit with a Grassy Finish</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p class="title">Body:</p>
                                    <p class="note">Light to Medium</p>
                                </div>
                                <div class="col-sm-6">
                                    <p class="title">Food Pairings:</p>
                                    <p class="note">Shellfish and Cheese</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mar-top50 mar-bot40" align="center">
                            <div *ngIf="offerData['remQty'] <= 0;then outOfStockBtn else inStockBtn"></div>
                            <ng-template #outOfStockBtn>
                                <button class="btn atc-btn dtl-btn-nw" disabled="true">Out Of Stock</button>
                            </ng-template>
                            <ng-template #inStockBtn>
                                <button angulartics2On="click" angularticsAction="AddToCart" angularticsLabel="action" angularticsValue="User added Liquor to Cart"
                                    angularticsCategory="AddToCart" angularticsProperties="{'offerId': currentofferId }" class="btn atc-btn dtl-btn-nw"
                                    (click)="addToShoppingCart($event)">Add to Cart</button>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>