.profilepage .container {
    max-width: 970px;
}

.accountform, .primary-pickup, .payment-options {
    max-width: 300px;
    margin: 60px auto;
}

.btn {
    font-size: 36px;
    height: 65px;
}

@media screen and (max-width:767px) {
    .mar-top80.mar-bot100 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
}