<section class="profilepage">
    <div class="profile-head">PAYMENT OPTIONS</div>
    <div class="container">
        <div class="row mar-top80 mar-bot100">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <ol class="breadcrumb">
                    <li>
                        <a [routerLink]="['/profile']">PROFILE </a>
                    </li>
                    <li class="active">PAYMENT</li>
                </ol>
            </div>
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="account-info-box">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                            <flash-messages></flash-messages>
                            <form class="payment-options" (ngSubmit)="saveCardDetailsToStripe()">
                                <div class="cards-img">
                                    <img src="assets/images/cards.png" alt="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" autocomplete='cc-name' placeholder="Name on Debit / Credit Card" required="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="tel" autocomplete="cc-number" id="cc-number" ccNum name="number" placeholder="Card Number">
                                </div>
                                <div class="form-group col-xs-8 nogutter1">
                                    <input class="form-control" type="tel" autocomplete="cc-exp" id="cc-exp" ccExp name="month" placeholder="mm / yyyy*">
                                </div>
                                <!-- <div class="form-group col-xs-4 nogutter2">
                                    <input class="form-control" type="text" name="year" placeholder="yyyy*" required="">
                                </div> -->
                                <div class="form-group col-xs-4 nogutter2">
                                    <input class="form-control" type="tel" autocomplete="cc-csc" id="cc-cvc" ccCvc name="cvv" placeholder="cvv*">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="zip" autocomplete="zip" placeholder="Zip Code" required="">
                                </div>
                                <div class="form-group mar-top50">
                                    <button angulartics2On="click" angularticsAction="AddPaymentInfo" angularticsLabel="action" angularticsValue="User added Credit card Details" angularticsCategory="AddPaymentInfo" angularticsProperties="{'accountId': loggedInUserData.id }"
                                        type="submit" class="btn">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>