<section class="profilepage">
    <div class="profile-head">REVIEW PRODUCTS</div>
    <div class="container">
        <div class="row mar-top80 mar-bot100">
            <div class="col-sm-10 col-sm-offset-1">
                <ol class="breadcrumb">
                    <li>
                        <a [routerLink]="['/profile']">PROFILE </a>
                    </li>
                    <li>
                        <a [routerLink]="['/myorders']">MY ORDERS </a>
                    </li>
                    <li class="active">REVIEW PRODUCTS</li>
                </ol>
            </div>
            <div class="col-sm-10 col-sm-offset-1 review-products">
                <h4>Hi {{ accountData['firstName'] }}, we’d love your feedback!</h4>
                <p class="review-p-text">Please review your purchase. It only takes a minute and really helps !</p>
                <div class="row review-flex text-center">
                    <div class="col-sm-6" *ngFor="let items of orderDetails">
                        <div class="review-01">
                            <img src="{{ items.offer.product | productImageUrl }}" alt="">
                            <h5>{{items.offer.product.name}}</h5>
                            <p>Please rate your purchase.</p>
                            <div class="stars" attr.data-product-id="{{items.offer.product.id}}">
                                <star-rating-comp [starType]="'svg'" [staticColor]="'negative'" [direction]="'ltr'" [step]="0.1" [showHalfStars]="true" (onRatingChange)="submitRating($event,items.offer.product.id)"></star-rating-comp>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="button" [routerLink]="['/myorders']" class="btn btn-thanks">Thank you</button>
                </div>
            </div>
        </div>
    </div>
</section>