<section class="profilepage">
    <div class="profile-head">PRIMARY PICKUP</div>
    <div class="container">
        <div class="row mar-top80 mar-bot100">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <ol class="breadcrumb">
                    <li>
                        <a [routerLink]="['/profile']">PROFILE </a>
                    </li>
                    <li class="active">PRIMARY PICKUP</li>
                </ol>
            </div>
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="account-info-box">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1" style="margin-top: 10px;">
                            <flash-messages></flash-messages>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <h4 class="text-center">TELL US YOUR PICKUP LOCATION</h4>
                            <form class="primary-pickup" (ngSubmit)="saveUserPickupLocation()">
                                <input type="hidden" name="latitude" />
                                <input type="hidden" name="longitude" />
                                <!-- <div class="form-group">
                                    <input class="form-control" type="text" name="state" placeholder="State" required="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="address1" placeholder="Address 1" required="">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="address2" placeholder="Address 2" required="">
                                </div>
                                <div class="form-group col-xs-6 nogutter1">
                                    <input class="form-control" type="text" name="city" placeholder="City" required="">
                                </div>
                                <div class="form-group col-xs-6 nogutter2">
                                    <input class="form-control" type="text" name="zipcode" placeholder="Zipcode" required="">
                                </div> -->
                                <div class="form-group settings-outerpage">
                                    <label>Address</label>
                                    <div>
                                        <input class="form-control" #search type="text" name="address" placeholder="Street address, City, State, Zipcode " required="">
                                        <span class="fa fa-search"></span>
                                    </div>
                                </div>
                                <div class="settings-innerpage text-center">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-location" (click)="getCurrentAddress()">
                                            <i class="fa fa-crosshairs" aria-hidden="true"></i>Use My Current Location
                                        </button>
                                    </div>
                                    <div class="form-group mar-top80 range-group">
                                        <label for="">Set Maximum Radius to View Deals</label>
                                        <p class="range-p hidden-below-768">0-{{dynamicMiles}} {{dynamicMiles > 1 ? 'miles':'mile'}}</p>

                                        <div class="mileslider">
                                            <ion-range-slider #sliderElement type="single" [min]="0" max="10" to_shadow="false" decorate_both="false" hide_min_max="true"
                                                postfix=" mile" step="0.5" from="{{radius}}" (onChange)="myOnChange($event)"></ion-range-slider>
                                            <!-- (onUpdate)="myOnUpdate($event)" (onChange)="myOnChange($event)" (onFinish)="myOnFinish($event)" -->


                                            <!-- <input type="text" id="range" value="" name="range" /> -->
                                        </div>

                                        <div class="form-group radio-buttons mar-top30">
                                            <input id="toggle-on" class="toggle toggle-left" [checked]="transport == 0?true:false" name="toggle" value="0" type="radio">
                                            <label for="toggle-on" class="btn-radio2">
                                                <img src="assets/images/radio1-2.png" alt="" id="tog-img1"> &nbsp; Walking
                                            </label>
                                            <input id="toggle-off" class="toggle toggle-right" [checked]="transport == 1?true:false" name="toggle" value="1" type="radio">
                                            <label for="toggle-off" class="btn-radio1">
                                                <img src="assets/images/radio2-1.png" alt="" id="tog-img2"> &nbsp; Driving
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group mar-top50">
                                        <button type="submit" class="btn">Save Changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>