.profilepage .container {
    max-width: 970px;
}

.profilepage .primary-pickup .btn-location {
    padding: 17px 0px;
    font-family: 'Montserrat';
    font-weight: 500;
    width: auto;
    border: none;
}

.profilepage .primary-pickup .btn-location i {
    margin-top: 1px;
    margin-right: 15px;
}

.profilepage .primary-pickup .range-group label, .profilepage .primary-pickup .range-p {
    font-size: 14px;
}

span.irs-bar {
    height: 4px !important;
    top: 25px;
    background-color: #9D2480;
}

.btn-radio1 {
    border-right: 2px solid #BBB4A7;
    border-top: 2px solid #BBB4A7;
    border-bottom: 2px solid #BBB4A7;
    display: inline-block;
    font-size: 14px;
    padding: 7px;
    width: 49%;
    color: #BBB4A7;
    position: relative;
    text-align: center;
    -webkit-transition: background 600ms ease, color 600ms ease;
    transition: background 600ms ease, color 600ms ease;
    border-radius: 0 15px 15px 0;
    font-weight: 500;
}

.btn-radio2 {
    border: 2px solid #BBB4A7;
    display: inline-block;
    color: #BBB4A7;
    font-size: 14px;
    padding: 7px;
    width: 49%;
    position: relative;
    text-align: center;
    -webkit-transition: background 600ms ease, color 600ms ease;
    transition: background 600ms ease, color 600ms ease;
    border-radius: 15px 0 0 15px;
}

input[type="radio"].toggle {
    display: none;
}

input[type="radio"].toggle+label {
    cursor: pointer;
    min-width: 60px;
}

input[type="radio"].toggle+label:hover {
    background: none;
    color: #1a1a1a;
}

input[type="radio"].toggle+label.btn-radio:after {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
}

input[type="radio"].toggle.toggle-left+label {
    border-right: 0;
}

input[type="radio"].toggle.toggle-left+label:after {
    left: 100%;
}

input[type="radio"].toggle.toggle-right+label {
    margin-left: -5px;
}

input[type="radio"].toggle.toggle-right+label:after {
    left: -100%;
}

input[type="radio"].toggle:checked+label {
    cursor: default;
    -webkit-transition: color 200ms;
    transition: color 200ms;
    border: 2px solid #9D2480;
    color: #000;
    font-weight: 500;
}

input[type="radio"].toggle:checked+label:after {
    left: 0;
}

.radio-buttons img {
    width: 18px;
    height: auto;
}

.primary-pickup input#selector-opener {
    opacity: 0;
}

.primary-pickup .select-form ul li.select_items:before {
    width: 12px;
    height: 12px;
    border: 2px solid #dddddd;
    content: "";
    position: absolute;
    right: 20px;
    top: 20px;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    box-shadow: none;
    z-index: 1;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.settings-innerpage {
    max-width: 350px;
    margin: 0 auto;
}

.settings-outerpage {
    max-width: 450px;
    margin: 0 auto;
}

.form-group.settings-outerpage input {
    height: 94px;
    line-height: 94px;
    padding: 10px 96px;
}

span.fa.fa-search {
    position: absolute;
    top: 50%;
    left: 48px;
    color: #BBB4A7;
    transform: translateY(-50%);
}

.settings-outerpage>div {
    position: relative;
}

.radio-buttons [type="radio"]:checked+label:before, .radio-buttons [type="radio"]:not(:checked)+label:before, .radio-buttons [type="radio"]:checked+label:after, .radio-buttons [type="radio"]:not(:checked)+label:after {
    display: none;
}

.radio-buttons [type="radio"]:checked+label, .radio-buttons [type="radio"]:not(:checked)+label {
    padding-left: 10px;
}

.radio-buttons {
    max-width: 306px;
    margin: 0 auto;
}

.btn[type="submit"] {
    max-width: 300px;
    margin: 0 auto;
}

.btn-location i {
    font-size: 18px;
}
.range-p.hidden-below-768{
    width: 95px;
}