.loginsignuppage {
    padding-top: 0px;
    margin-top: 100px;
}

.loginsignuppage form {
    max-width: 300px;
}

.birth-form {
    padding: 0px 10px;
}

.birth-form div {
    display: inline-block;
    width: 100%;
}

.birth-form div.b-month {
    width: 30%;
}

.birth-form div.b-date {
    width: 30%;
}

.birth-form div.b-year {
    width: calc(40% - 10px);
}

.forgot-pass-in {
    padding-top: 20px;
    color: #8D8D8D;
    font-size: 14px;
}

.btn-password {
    background: #9D2480 !important;
}

.forgot-text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.border-bottom-or {
    border-bottom: 1px solid #9D2480;
}

.text-or {
    background-color: #fff;
    position: absolute;
    margin-top: -30px;
    padding: 10px;
    color: #9D2480;
    left: 50%;
    margin-left: -23px;
    font-size: 14px;
}

.remember-check .login-mark {
    border: 1px solid #ADA597;
    margin-top: 2px;
}

.remember-check .login-check .login-mark:after {
    border: solid #ADA597;
    border-width: 0 1px 1px 0;
}

/* The container */

.login-check {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-check a {
    color: #4A90E2;
}

/* Hide the browser's default checkbox */

.login-check input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */

.login-mark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border: 1px solid #9D2480;
    border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */

.login-check input:checked~.login-mark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */

.login-mark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.login-check input:checked~.login-mark:after {
    display: block;
}

/* Style the checkmark/indicator */

.login-check .login-mark:after {
    left: 4px;
    top: -4px;
    width: 5px;
    height: 10px;
    border: solid #9D2480;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (min-width:768px) and (max-width:991px) {
    .loginsignuppage {
        margin-top: 123px;
    }
}

@media screen and (max-width:480px) {
    .remember-check {
        display: block;
    }
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.birth-form div {
    vertical-align: top;
}