<section class="loginsignuppage">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-sm-6">
                    <div class="pageheadinginner">
                        <h2 class="col-primary">Sign In</h2>
                    </div>
                    <flash-messages></flash-messages>
                    <form [formGroup]="loginForm" class="loginform" id="loginform" (ngSubmit)="onLogin()">
                        <div class="form-group">
                            <input class="form-control" type="email" formControlName="email" name="email" placeholder="Email" required="" autocomplete="user email">
                            <label class="validate-error" *ngIf="email.invalid && email.errors.required && email.touched">
                                Please enter a valid email address
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" formControlName="password" name="password" placeholder="Password" required=""
                                autocomplete="current-password">
                            <label class="validate-error" *ngIf="password.invalid && password.errors.required && password.touched">
                                Password is required
                            </label>
                            <label class="validate-error" *ngIf="password.invalid && password.errors.minlength && password.touched">
                                Password should be atleast {{password.errors.minlength.requiredLength}} characters long
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="checkbox remember-check">
                                <label class="login-check">REMEMBER ME
                                    <input type="checkbox">
                                    <span class="login-mark"></span>
                                </label>
                            </div>
                            <a [routerLink]="['/forgotpassword']" class="pull-right forgot-pass mar-bot50">FORGOT PASSWORD?</a>
                            <button [disabled]="!loginForm.valid" type="submit" class="btn">Sign In</button>
                            <button type="button" class="btn fb-btn" (click)="signInWithFB()">Facebook Sign In</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <span class="or col-primary">OR</span>
                    <div class="pageheadinginner">
                        <h2 class="col-primary">Create Account</h2>
                    </div>

                    <form [formGroup]="signupForm" class="signupform" id="signupForm" (ngSubmit)="onSignup()">
                        <div class="form-group">
                            <input class="form-control" type="text" formControlName="username" name="username" placeholder="Your name" required="" autocomplete="user email">
                            <label class="validate-error" *ngIf="username.errors && username.errors.required && username.touched">
                                Please enter Your Name
                            </label>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="email" formControlName="s_email" name="s_email" placeholder="Your email address" required=""
                                autocomplete="user email">
                            <label class="validate-error" *ngIf="s_email.invalid && s_email.errors.required && s_email.touched">
                                Please enter a valid email address
                            </label>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="password" name="s_password" placeholder="Choose a password" autocomplete="new-password"
                                formControlName="s_password">
                            <label class="validate-error" *ngIf="s_password.errors && s_password.errors.required && s_password.touched">
                                Password is required
                            </label>
                            <label class="validate-error" *ngIf="s_password.errors && s_password.errors.minlength && s_password.touched">
                                Password should be minimum {{s_password.errors.minlength.requiredLength}} characters long
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" formControlName="confirm_password" name="re-password" placeholder="Re-enter password"
                                autocomplete="new-password">
                            <label class="validate-error" *ngIf="confirm_password.errors && confirm_password.errors.required && confirm_password.touched">
                                Confirm Password is required
                            </label>
                            <label class="validate-error" *ngIf="confirm_password.errors && confirm_password.errors.notEquivalent && confirm_password.touched">
                                Password and Confirm Password do not match
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" formControlName="phoneNumber" name="phoneNumber" placeholder="Phone number">
                            <label class="validate-error" *ngIf="phoneNumber.errors && phoneNumber.errors.required && phoneNumber.touched">
                                Please enter Phone Number
                            </label>
                            <label class="validate-error" *ngIf="(phoneNumber.errors && !phoneNumber.errors.required) && phoneNumber.errors && phoneNumber.errors.minlength && phoneNumber.touched">
                                Phone Number should be minimum {{phoneNumber.errors.minlength.requiredLength}} digits long
                            </label>
                        </div>
                        <h3 class="col-primary text-center mar-top30 mar-bot20">Birth Date</h3>

                        <div class="row birth-form">
                            <div class="b-month">
                                <div class="form-group">
                                    <input class="form-control" type="number" min="1" max="12" formControlName="month" name="month" placeholder="Month*">
                                    <label class="validate-error" *ngIf="month.errors && month.errors.required && month.touched">
                                        Please enter Your Birth Month
                                    </label>
                                    <label class="validate-error" *ngIf="(month.errors && !month.errors.required) && month.errors.max && month.touched">
                                        Birth Month should be maximum {{month.errors.max.max}}
                                    </label>
                                    <label class="validate-error" *ngIf="(month.errors && !month.errors.required) && month.errors.min && month.touched">
                                        Birth Month should be minimum {{month.errors.min.min}}
                                    </label>
                                </div>
                            </div>
                            <div class="b-date">
                                <div class="form-group">
                                    <input class="form-control" type="number" min="1" max="31" formControlName="date" name="date" placeholder="Date*">
                                    <label class="validate-error" *ngIf="date.errors && date.errors.required && date.touched">
                                        Please enter Your Birth Date
                                    </label>
                                    <label class="validate-error" *ngIf="(date.errors && !date.errors.required) && date.errors.max && date.touched">
                                        Birth Date should be maximum {{date.errors.max.max}}
                                    </label>
                                    <label class="validate-error" *ngIf="(date.errors && !date.errors.required) && date.errors.min && date.touched">
                                        Birth Date should be minimum {{date.errors.min.min}}
                                    </label>
                                </div>
                            </div>
                            <div class="b-year">
                                <div class="form-group">
                                    <input class="form-control" type="number" min="{{ currentYear - 100 }}" max="2000" formControlName="year" name="year" placeholder="Year*">
                                    <label class="validate-error" *ngIf="year.errors && year.errors.required && year.touched">
                                        Please enter Your Birth Year
                                    </label>
                                    <label class="validate-error" *ngIf="(year.errors && !year.errors.required) && year.errors.max && year.touched">
                                        Birth Year should be maximum {{year.errors.max.max}}
                                    </label>
                                    <label class="validate-error" *ngIf="(year.errors && !year.errors.required) && year.errors.min && year.touched">
                                        Birth Year should be minimum {{year.errors.min.min}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mar-top20">
                            <label class="login-check">I am at least 21 years of age and I understand that any person accepting pick up of alcoholic
                                beverage must also be at least 21 years of age.
                                <input type="checkbox">
                                <span class="login-mark"></span>
                            </label>
                            <label class="login-check">By Creating an Account, I agree to Bevvi’s
                                <a target="_blank" [routerLink]="['/termsOfUse']">Terms and Condition</a> and <a target="_blank" [routerLink]="['/privacyPolicy']">Privacy Policy</a>.
                                <input type="checkbox">
                                <span class="login-mark"></span>
                            </label>
                        </div>
                        <div class="form-group text-center mar-top40">
                            <button [disabled]="!signupForm.valid" type="submit" class="btn">Sign Up</button>
                            <button type="button" class="btn fb-btn" (click)="signInWithFB()">Facebook Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>