<section class="cartpage1">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="order-confirmation">
                    <div class="close-btn">
                        <a [routerLink]="['/productlisting']">
                            <img src="assets/images/close-gray.png">
                        </a>
                    </div>
                    <h4 class="conf-head fontmedium">Order Confirmation</h4>
                    <hr>
                    <h4 class="conf-head2 fontmedium">Thanks for your order {{accountData['firstName']}} </h4>
                    <p>Your order number:
                        <span class="fontsemi">#{{ orderData['orderNumber'] }}</span>
                    </p>
                    <hr>
                    <p>{{ establishmentData['name'] }}
                        <br>{{ establishmentData['phoneNum'] }}</p>
                    <div class="row order-conflex mar-top35 mar-bot80">
                        <div class="col-md-6">
                            <div class="mar-top20 mar-bot30 order-info">
                                <p>
                                    <img src="assets/images/event.png" width="20" alt="">
                                </p>
                                <p>{{ orderData['pickupTime'] | amTz: userTimezone | amDateFormat: 'MMMM D, dddd' }}
                                    <br>{{ orderData['pickupTime'] | amTz: userTimezone | amDateFormat: 'hh:mm a' }}</p>
                            </div>
                            <div class="mar-top20 mar-bot30 order-info">
                                <p>
                                    <img src="assets/images/place.png" width="20" alt="">
                                </p>
                                <p>{{ establishmentData['address'] }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <agm-map style="width: 300px;height:250px;" [latitude]="establishmentLatitude" [longitude]="establishmentLongitude" [scrollwheel]="false"
                                [zoom]="zoom">
                                <agm-marker [latitude]="establishmentLatitude" [longitude]="establishmentLongitude"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                    <div class="table-responsive mar-top40">
                        <table class="table cartpage1-table">
                            <tr>
                                <th colspan="2">Product</th>
                                <th>Item Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            <tr *ngFor="let items of orderDetails; let i = index">
                                <td width="75">
                                    <img src="{{ items.offer.product | productImageUrl }}" width="75" alt="">
                                </td>
                                <td>{{ items.offer.product.name }}</td>
                                <td>${{ items.price }}</td>
                                <td style="text-align: center;">{{ items.quantity }}</td>
                                <td>${{ items.price | calculateCartPrice:items.quantity }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row mar-bot80">
                        <div class="col-sm-12 cartpage-border">
                            <div class="row cartpage-total1">
                                <div class="col-xs-6 col-sm-5 col-sm-offset-3">Subtotal:</div>
                                <div class="col-xs-6 col-sm-4">${{ orderDetails | calculateSubtotal }}</div>
                            </div>
                            <div class="row cartpage-total1 mar-top10">
                                <div class="col-xs-6 col-sm-5 col-sm-offset-3">Tax:</div>
                                <div class="col-xs-6 col-sm-4">${{ orderData['tax'] }}</div>
                            </div>
                            <div class="row cartpage-total1 mar-top10">
                                <div class="col-xs-6 col-sm-5 col-sm-offset-3">Rewards: </div>
                                <div class="col-xs-6 col-sm-4">-${{ orderDetails | calculateSavedPrice }}</div>
                            </div>
                        </div>
                        <div class="col-sm-12 cartpage-border0">
                            <div class="row cartpage-total1">
                                <div class="col-xs-6 col-sm-5 col-sm-offset-3">Total:</div>
                                <div class="col-xs-6 col-sm-4">${{ orderData['totalAmount'] }}</div>
                            </div>
                            <div class="row cartpage-total1 mar-top10">
                                <div class="col-xs-6 col-sm-5 col-sm-offset-3 small-color">Points:</div>
                                <div class="col-xs-6 col-sm-4 small-color">{{ orderDetails | calculatePointsEarned }}pts</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1" align="center">
                            <p class="textcenter">Tell your friends about us and
                                <br> get $5 off your next order!</p>
                            <div class="box-01 mar-bot20">
                                <span #value1>{{ accountData['code'] }}</span>
                                <a id="copyText" href="javascript:;" [clipboard]="value1.innerHTML.trim()" (clipboardCopy)="logSuccess( $event )" (clipboardError)="logError( $event )">Copy</a>
                            </div>
                            <a class="btn btn-send mar-bot20" href="mailto:?subject=Make your hour happy with Bevvi!!!&amp;body=Get your drink on with Bevvi. We got you covered on the greatest deals even your mother will be happy. Here is $5 off your first order with promo code {{accountData['code']}}. <a href='{{branchLink}}'>Visit</a>">Send Invites</a>
                            <!-- <button class="btn btn-send mar-bot20">Send Invites</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>