.form-group label.validate-error {
    font-size: 11px;
    color: #9D2480;
}

.alert.alert-custom {
    color: #9D2480 !important;
    text-align: center;
}

.navbar.navbar-default a:focus, .navbar.navbar-default a:hover {
    color: #9D2480 !important;
}

.irs-bar {
    top: 25px;
}

.irs-slider, .irs-bar-edge {
    width: 25px;
    height: 25px;
}

.myorders1 .order-box {
    min-height: 101px;
}

.pickup-card-in .irs-line {
    width: calc(100% - 25px);
}

.pickup-card .pickup-card-in {
    border-bottom-left-radius: 3%;
    border-bottom-right-radius: 3%;
}

.cartpageheading1 {
    display: inline-block;
}

.cartpagewalk {
    display: inline-block;
    padding-left: 20px;
}

.agm-map-container-inner.sebm-google-map-container-inner {
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    .btn.datepick-btn-next {
        margin: 0px auto;
    }
}

@media only screen and (max-width: 767px) {
    .btn.datepick-btn-next {
        margin: 30px auto;
        margin-bottom: 0px;
    }
    .picker-column #datetimepicker {
        width: 100%;
    }
}

.cart-cards .panel-title {
    font-size: 16px;
}

.cart-cards .btn.btn-next i, .btn-placeOrder {
    font-size: 24px;
}

.order-confirmation .close-btn {
    text-align: right;
    position: absolute;
    top: 12px;
    right: 32px;
}

.order-confirmation .close-btn a img {
    width: 16px;
    height: 16px;
}

table.cartpage1-table tr td:nth-child(2) {
    width: 340px;
}

.cartcontent-head a {
    font-size: 14px;
    padding-left: 0px !important;
}

.carthead {
    font-size: 14px;
    font-weight: 500;
}

table.card-body {
    width: 100%;
}

table.card-body td {
    width: 50%;
}

.review-products {
    text-align: center;
    margin-top: 25px;
}

.review-products h4 {
    font-family: 'DirectorsGothic230';
    font-size: 36px;
    color: #000000;
}

.owl-next {
    position: absolute;
    top: 40%;
    right: -2%;
    font-size: 2em;
    font-weight: bold;
}

.owl-prev {
    position: absolute;
    top: 40%;
    left: -2%;
    font-size: 2em;
    font-weight: bold;
}

.review-flex {
    margin-top: 40px;
}

.review-01 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 1px solid #E8E3D9;
    background-color: #FFFFFF;
    padding: 10px 10px 20px;
    margin: 15px auto;
}

.review-01 img {
    height: 265px;
    width: auto;
}

.review-01 h5 {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.review-01 p {
    font-size: 12px;
}

.owl-carousel .owl-item img {
    display: block;
    width: auto;
    text-align: center;
    margin: auto;
}

.item {
    margin-left: 15px;
    margin-right: 15px;
}

.second-modal.in {
    display: flex !important;
    display: -webkit-flex !important;
    display: -mox-flex !important;
    display: -ms-flex !important;
    align-items: center;
    text-align: center;
}

#second-modal .modal-dialog .modal-content {
    border: 3px solid #9D2480;
    border-radius: 0;
}

#second-modal .modal-dialog {
    width: 450px;
    margin: auto;
}

#second-modal h3 {
    font-size: 24px;
    font-weight: 600;
}

#second-modal h4 {
    font-size: 24px;
    font-weight: 500;
}

#second-modal p {
    font-size: 14px;
    line-height: 18px;
}

#second-modal .dont-share {
    font-size: 14px;
    color: #3878DE;
}

#second-modal .sociallinks>ul>li>a {
    color: #000;
}

#second-modal .sociallinks li a {
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    background: none;
    font-size: 30px;
    color: #4a4a4a;
    margin-left: 5px;
    margin-right: 5px;
}

#second-modal .text-grey {
    color: #8D8D8D;
    font-size: 14px;
    line-height: 18px;
}

.btn-plain {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #9D2480;
    border: 2px solid #9D2480;
    border-radius: 15px;
    padding: 8px 5px;
}

.bold-span {
    display: inline-block;
    font-weight: 600;
    padding-bottom: 5px;
}

.share-flex {
    padding: 0 50px;
}

.share-flex .form-control {
    font-size: 14px;
    background-color: #F5F5F5;
    border-radius: 15px;
    border: 1px solid #9B9B9B;
    width: auto;
}

.range-p {
    display: inline-block;
    float: none;
    font-weight: 300;
    padding-left: 15px;
}

.right-drop .arrow {
    position: absolute;
    margin-top: -21px;
    margin-left: 165px;
    transition: 0.5s;
}

.right-drop.open .arrow {
    transform: rotate(180deg);
}

/*************************************
	Star reviewing
**************************************/

div.stars {
    width: auto;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 3px;
    font-size: 20px;
    color: #9D2480;
    transition: all .2s;
    cursor: pointer;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #9D2480;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: #9D2480;
    text-shadow: 0 0 20px #9D2480;
}

label.star:hover {
    transform: scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

.btn-thanks {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 36px;
    font-family: 'DirectorsGothic230';
    width: auto;
    padding: 4px 22px;
    border-radius: 15px;
    line-height: 45px;
}

.modal-backdrop.in {
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal.in .modal-dialog {
    width: 90%;
}

@media screen and (min-width:1500px) {
    .modal.in .modal-dialog {
        width: 60%;
    }
}

@media screen and (min-width:1200px) and (max-width:1500px) {
    .modal.in .modal-dialog {
        width: 70%;
    }
}

@media screen and (max-width:767px) {
    .review-01 h5 {
        font-size: 14px;
    }
    .review-01 p {
        font-size: 10px;
    }
    .modal-dialog {
        margin: auto;
    }
    .innerpageadd, .filter-view {
        font-size: 15px;
    }
    #filter input[type="checkbox"]:after {
        content: '';
        font-size: 13px;
        line-height: 35px;
    }
    #filter input[type="checkbox"] {
        min-height: 35px;
        width: 65px;
    }
    #first-modal, #second-modal {
        padding-left: 17px;
        padding-right: 17px;
    }
    .mar-bot40, .mar-bot55 {
        margin-bottom: 25px;
    }
}

@media screen and (max-width:550px) {
    .review-01 img {
        height: 90px;
        width: auto;
    }
}

#review-modal.modal.first-modal .btn-thanks {
    margin-bottom: 0px;
    margin-top: 0px;
}

#review-modal.modal.first-modal .rating {
    margin-right: 0px;
}

.dropdown-menu {
    z-index: 9;
}

.productlistings div.productlisting {
    cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.stickyFooter .footer-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.stickyFooter .footer-top {
    margin-bottom: 106px;
}

@media screen and (max-width: 767px) {
    ul.dropdown-menu.cart-menu {
        right: -85px;
    }
}

@media screen and (max-width: 374px) {
    ul.dropdown-menu.cart-menu {
        right: -70px;
    }
    .footer-bottom img {
        max-width: 38px;
    }
}

.innerpageheading1 {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    width: 100%;
}

* {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.dropdown-backdrop {
    z-index: 0;
}

.bottomheader img {
    cursor: pointer;
}

.near-font .right-drop.open .arrow .fa {
    transform: rotate(180deg);
}

@media screen and (max-width:767px) {
    .owl-carousel {
        margin: 0px auto;
    }
}

@media screen and (max-width:768px) {
    .bottomheader span {
        display: block;
    }
    .pickupheader a span:not(.arrow) {
        width: calc(100% - 65px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        vertical-align: middle;
    }
    span.c-white.pull-right.hidden-below-768 {
        position: static;
        width: 100%;
        padding-top: 10px;
        display: block !important;
        text-align: center;
    }
    ul.dropdown-menu.cart-menu {
        max-height: calc(100vh - 109px);
        overflow: auto;
    }
    .payment-options1 .form-group.mar-top150 {
        margin-top: 30px !important;
    }
}

@media screen and (max-width:550px) {
    .pickup-card-in .search-input {
        left: 30px !important;
    }
    .btn-thanks {
        font-size: 28px !important;
    }
    .form-group.settings-outerpage input {
        height: 54px !important;
        line-height: 54px !important;
        padding: 10px 35px !important;
    }
    span.fa.fa-search {
        left: 15px !important;
    }
    .stickyFooter .footer-top {
        margin-bottom: 90px;
    }
    .productdetailpage {
        padding-top: 30px !important;
    }
    .cartpricing {
        margin-top: 20px !important;
    }
    .code-flex {
        text-align: center;
        padding-right: 0px;
        padding-left: 0px !important;
        width: 100%;
    }
    .footer-bottom p {
        font-size: 36px !important;
    }
    .footer-bottom img {
        margin-top: 30px !important;
    }
    .footer-bottom p span {
        font-size: 11px !important;
        margin-top: 18px !important;
    }
    .cartpage-total1 .col-xs-6.col-sm-4 {
        width: 50%;
    }
    .navbar-header .navbar-brand {
        height: 60px;
        margin-right: 0px;
        padding: 10px 0px;
    }
    .navbar-brand img {
        height: 100%;
    }
    .cart-head-img {
        width: 22px;
    }
    .qty-nom-hdr {
        width: 16px;
        height: 16px;
        line-height: 16px;
    }
    .navbar-toggle {
        margin-top: 15px;
    }
    .cart-font {
        margin-top: 15px;
    }
}

@media screen and (max-width:460px) {
    div.stars {
        zoom: .73;
    }
    .innerpageheading h2 small {
        padding-left: 0px;
    }
    .fontsemi {
        display: block;
    }
}

@media screen and (max-width:400px) {
    .btn-next {
        width: 100% !important;
    }
}

@media screen and (max-width:360px) {
    .productdetailpage {
        padding-top: 145px !important;
    }
}

@media screen and (max-width:320px) {
    .item {
        margin-right: 5px;
        margin-left: 5px;
    }
}

.pickupheader, .profilepage .profile-head {
    margin-top: 0px !important
}

.smartbanner {
    position: fixed;
}

.modal {
    z-index: 9999 !important;
}