.header-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 10;
}

.profile-head {
    color: #fff;
    font-weight: 500;
    background-color: #F78130;
    padding: 50px 10px;
    text-align: center;
    font-family: 'directorsgothic230-reg';
    font-size: 48px;
    margin-top: 118px;
}

.profile-head span {
    color: #9D2480;
}

.sub-head {
    color: #231F20;
    font-size: 18px;
    text-align: center;
    padding-bottom: 80px;
    line-height: 1.6em;
}

.register {
    padding: 2px 22px !important;
    border: 2px solid #9D2480;
    color: #9D2480 !important;
    border-radius: 40px;
    margin-left: 10px;
    margin-top: 11px;
    max-width: 130px;
}

.register:hover {
    background-color: #9D2480 !important;
    border-color: transparent;
    color: #FFF !important;
}

.section-title {
    text-align: center;
}

.howbevviworks h2 {
    color: #9D2480;
    font-size: 48px;
    font-family: 'directorsgothic201';
}

.happyhour h2 {
    color: #fff;
    font-size: 48px;
    font-family: 'directorsgothic230-reg';
}

.happyhour h2 span {
    color: #F78130;
}

.happyhour p {
    font-size: 14px;
    color: #fff;
}

.workflowsbevvi, .earnpoints {
    margin-top: 57px
}

.workbevvi {
    text-align: center;
    margin-bottom: 30px;
}

.workbevvi1 {
    padding-top: 15px;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    max-width: 190px;
    margin: 0 auto;
}

.workbevvi1 h3 {
    display: inline-block;
    margin-top: 0;
    padding-right: 10px;
    color: #9D2480;
    font-size: 48px;
    font-family: 'directorsgothic230-reg';
    text-align: center;
}

.workbevvi p {
    font-size: 14px;
    color: #000;
    text-align: left;
    display: inline-block;
    padding-top: 20px;
    line-height: 1.7em;
}

.workbevvi2 h3 {
    margin-top: 0;
    color: #9D2480;
    font-size: 48px;
    font-family: 'directorsgothic230-reg';
    text-align: center;
    padding-top: 25px;
}

.workbevvi2 h3 span {
    color: #F78130;
}

.happyhour {
    background: #9D2480;
    padding: 50px 0px;
}

.downloadbevvi h3 {
    font-size: 36px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.downloadbevvi img {
    max-width: 153px;
    margin: 0px 10px 10px;
}

.earnpoint {
    margin-bottom: 30px;
}

.footer-bottom {
    background-color: #f9811e;
    padding: 22px 10px;
}

.footer-bottom p {
    color: #fff;
    font-size: 48px;
    font-family: 'directorsgothic230-reg';
    margin-bottom: 0;
}

.footer-bottom p span {
    color: #231F20;
    font-family: 'Montserrat';
    font-size: 10px;
}

.footer-bottom img {
    position: absolute;
    margin-top: 45px;
    padding-left: 0px;
}

.copyright span {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 14px;
    margin-top: 30px;
    display: block;
    font-weight: 400;
}

@media screen and (min-width:768px) and (max-width:991px) {
    .profile-head {
        margin-top: 123px;
    }
}

@media screen and (max-width:768px) {
    .profile-head {
        margin-top: 157px;
    }
}

@media screen and (max-width:767px) {
    .section-title span {
        float: none;
        font-size: inherit !important;
        line-height: normal;
    }
}

@media screen and (max-width:550px) {
    .profile-head {
        margin-top: 113px;
        padding: 20px 10px;
        line-height: normal;
        font-size: 36px;
    }
    section {
        padding: 40px 0px;
    }
    .sub-head {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 550px) {
    .profile-head {
        margin-top: 108px;
    }
}

@media screen and (max-width:360px) {
    .selectpickup-a {
        display: block;
    }
    .footer-bottom p span {
        position: absolute;
    }
    .footer-bottom img {
        bottom: 25px;
    }
    .footer-bottom {
        padding: 15px 10px 50px;
    }
}

@media screen and (max-width: 768px) {
    .profile-head {
        margin-top: 96px;
    }
}

@media screen and (min-width: 551px) and (max-width: 767px) {
    .profile-head {
        margin-top: 150px;
    }
}

@media screen and (max-width: 480px) {
    .profile-head {
        margin-top: 96px;
    }
}

@media screen and (max-width: 320px) {
    .profile-head {
        margin-top: 96px;
    }
}