<div class="profile-head">Buy
    <span>when the</span> spirit
    <span>moves you</span>!</div>
<section class="howbevviworks">
    <div class="container">
        <p class="sub-head">Bevvi is an alcohol pickup-only service
            <br class="hidden-below-768">which partners with local liquor stores to provide
            <br class="hidden-below-768">you the best alcohol selections and offers.</p>
        <div class="section-title">
            <h2>How Bevvi Works</h2>
        </div>
        <div class="workflowsbevvi">
            <div class="row">
                <div class="col-sm-3">
                    <div class="workbevvi">
                        <div class="workflowimg">
                            <img src="assets/images/home-1.png">
                        </div>
                        <div class="workbevvi1">
                            <h3>1</h3>
                            <p>We actively search the best shops and drink options, all at a better price.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="workbevvi">
                        <div class="workflowimg">
                            <img src="assets/images/home-2.png">
                        </div>
                        <div class="workbevvi1">
                            <h3>2</h3>
                            <p>Shop where and when you want, then quickly pay through the app.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="workbevvi">
                        <div class="workflowimg">
                            <img src="assets/images/home-3.png">
                        </div>
                        <div class="workbevvi1">
                            <h3>3</h3>
                            <p>Ready to go! Pick up your order with a quick stop at the shop
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="workbevvi">
                        <div class="workflowimg">
                            <img src="assets/images/home-4.png">
                        </div>
                        <div class="workbevvi2">
                            <h3>C<span>h</span>e<span>e</span>r<span>s</span>!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="happyhour">
    <div class="container">
        <div class="section-title">
            <h2>
                <span>Drink!</span> Earn Points!
                <span>Repeat!</span>
            </h2>
            <p>Earn and redeem points for even greater discounts.</p>
        </div>
        <div class="downloadbevvi text-center">
            <p class="mar-top100 mar-bot20">Download the app</p>
            <a href="https://play.google.com/store/apps/details?id=com.app.bevvi" target="_blank">
                <img src="assets/images/playstore.png">
            </a>
            <a href="https://itunes.apple.com/us/app/bevvi/id1309066556" target="_blank">
                <img src="assets/images/appstore.png">
            </a>
        </div>
    </div>
</section>