<section class="profilepage">
    <div class="profile-head">FAQ</div>
    <div class="container faq-page">
        <div class="row mar-top80 mar-bot40">
            <div class="col-md-3 col-sm-4">
                <p class="faq-grey">Email</p>
                <p>
                    <a href="mailto:support@getbevvi.com">support@getbevvi.com</a>
                </p>
            </div>
            <div class="col-md-3 col-sm-offset-1 col-sm-4">
                <p class="faq-grey">Phone</p>
                <p>+1 (551)-800-7821</p>
            </div>
        </div>
        <div class="row mar-bot100">
            <div class="col-sm-3">
                <p class="faq-grey">Sections</p>
                <ul class="faq-q">
                    <li>
                        <a (click)='scrollToElement("q1")'>What is Bevvi?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q2")'>How does Bevvi work?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q3")'>Does Bevvi do deliveries?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q4")'>How do I enter an order?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q5")'>How do I know about the offers?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q6")'>How do I pay?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q7")'>Can I pay by cash?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q8")'>What happens if I don’t pickup the order when I schedule it?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q9")'>Can I order my favorite items even if they are not part of the special offers?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q10")'>How does age verification work?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q11")'>Whats the minimum age for people to use the app or website?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q12")'>Where is Bevvi offered?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q13")'>Can I cancel the order?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q14")'>What if my order is not ready when I go to the store?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q15")'>What if the store has misplaced my order and I have already been charged?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q16")'>Can I cancel my account?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q17")'>Do I get points for each order?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q18")'>Can the points be redeemed?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q19")'>How do I redeem points?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q20")'>What do I get for inviting my friends?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q21")'>Can I use multiple Promotion Code per order?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q22")'>Do I get Points if I apply a Promotion Code for the order?</a>
                    </li>
                    <li>
                        <a (click)='scrollToElement("q23")'>Can I redeem points and apply a Promotion Code?</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-8 col-sm-offset-1">
                <p class="faq-que" id="q1">What is Bevvi?</p>
                <p class="faq-ans">Bevvi is an alcohol pickup only service. We have partnered with your favorite liquor stores in your neighborhood
                    to provide you the best offers on rare alcohol.</p>

                <p class="faq-que" id="q2">How does Bevvi work?</p>
                <p class="faq-ans">Bevvi sends you offers from your neighborhood stores through our app (available on IOS and Android) and email.
                    The stores determine the length of the offers and the amount of items available in each of the offers.
                    The offers last until the expiry date or until supplies last. You can pre-order and pre-pay and schedule
                    the pickup date and time. You have a week from the date of purchase to pick up the offer. The order will
                    be pre-packaged and waiting for you. Once you are at the store, you show the confirmation and pickup
                    the products.</p>

                <p class="faq-que" id="q3">Does Bevvi do deliveries?</p>
                <p class="faq-ans">Using Bevvi you can only pickup the orders.</p>

                <p class="faq-que" id="q4">How do I enter an order?</p>
                <p class="faq-ans">Using the app or website, you can enter your order. You can choose the quantity, schedule your pickup and
                    prepay for the order.</p>

                <p class="faq-que" id="q5">How do I know about the offers?</p>
                <p class="faq-ans">You will receive notifications when there are offers available if its turned on your app. You will also receive
                    emails when there are offers available.</p>

                <p class="faq-que" id="q6">How do I pay?</p>
                <p class="faq-ans">You can only pay by using your credit card. You can store your credit card through the app or website. You
                    can pay when you complete the transaction. During pickup of the order you do not need your credit card.</p>

                <p class="faq-que" id="q7">Can I pay by cash?</p>
                <p class="faq-ans">We do not accept Cash as a method of payment, we only accept credit cards as we pre-process the payment before
                    you pickup the orders.</p>

                <p class="faq-que" id="q8">What happens if I don’t pickup the order when I schedule it?</p>
                <p class="faq-ans">It’s the discretion of the store to keep your order available if you do not pick up at the time it was scheduled
                    for. Neither Bevvi or the store will be responsible for the loss of the goods ordered if not picked up
                    at the scheduled date and time.</p>

                <p class="faq-que" id="q9">Can I order my favorite items even if they are not part of the special offers?</p>
                <p class="faq-ans">Currently you can only purchase the special offers from the store using Bevvi. In the future we might offer
                    the entire inventory.</p>

                <p class="faq-que" id="q10">How does age verification work?</p>
                <p class="faq-ans">Age verification is done by the store at the point of pickup. If you cannot produce a legal ID proving you
                    are 21 years old and above during the time of pickup, the store will not hand you the goods and there
                    is no refund available.</p>

                <p class="faq-que" id="q11">Whats the minimum age for people to use the app or website?</p>
                <p class="faq-ans">The minimum age is 21 years and above to use the app or website.</p>

                <p class="faq-que" id="q12">Where is Bevvi offered?</p>
                <p class="faq-ans">Bevvi is currently offered in New York City. We will soon be adding other states.</p>

                <p class="faq-que" id="q13">Can I cancel the order?</p>
                <p class="faq-ans">You can cancel the order if the store accepts the order and still unable to fulfill it. The Cancellations
                    need to be done by calling the Bevvi customer service number at 1-551-800-7821. Cancellations cannot
                    be done at the store or through the app, website or calling the store.</p>

                <p class="faq-que" id="q14">What if my order is not ready when I go to the store?</p>
                <p class="faq-ans">We apologize for such inconvenience. You can call the Bevvi support number at 1-551-800-7821 and we will
                    refund your money for any such inconvenience.</p>

                <p class="faq-que" id="q15">What if the store has misplaced my order and I have already been charged?</p>
                <p class="faq-ans">We apologize for such inconvenience. You can call the Bevvi support number at 1-551-800-7821 and we will
                    refund your money for any such inconvenience.</p>

                <p class="faq-que" id="q16">Can I cancel my account?</p>
                <p class="faq-ans">We would be sad to see you go. You can Bevvi support number at 1-551-800-7821 and we will cancel your account.</p>

                <p class="faq-que" id="q17">Do I get points for each order?</p>
                <p class="faq-ans">You get 10 points per bottle.</p>

                <p class="faq-que" id="q18">Can the points be redeemed?</p>
                <p class="faq-ans">Yes we will be $10 credit for 10,000 points.</p>

                <p class="faq-que" id="q19">How do I redeem points?</p>
                <p class="faq-ans">Point redemption is automatic, once you reach 10,000 points, a credit of $10 is applied to your next order</p>

                <p class="faq-que" id="q20">What do I get for inviting my friends?</p>
                <p class="faq-ans">You get $5 every time you invite a friend and they buy for the first time. They also get $5 off their first
                    order.
                </p>

                <p class="faq-que" id="q21">Can I use multiple Promotion Code per order?</p>
                <p class="faq-ans">Bevvi accepts only one promotion code per order.</p>

                <p class="faq-que" id="q22">Do I get Points if I apply a Promotion Code for the order?</p>
                <p class="faq-ans">If a Promotion Code is applied to the order, no Points are accrued for that order.</p>

                <p class="faq-que" id="q23">Can I redeem points and apply a Promotion Code?</p>
                <p class="faq-ans">Either you can redeem points, which are automatic, or apply a Promotion Code.</p>

            </div>
        </div>
    </div>
</section>