.faq-q li a {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile-head {
        margin-top: 96px;
    }

}

@media screen and (min-width: 551px) and (max-width: 767px) {
    .profile-head {
        margin-top: 150px;
    }
}