<section class="loginsignuppage">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="pageheadinginner">
                        <h2 class="col-primary">Reset Password</h2>
                    </div>
                    <form class="passwordform col" [formGroup]="passwordform" id="passwordform" (ngSubmit)="onPasswordReset()">
                        <flash-messages></flash-messages>
                        <div class="form-group mar-top80">
                            <input class="form-control" type="password" name="email" placeholder="New Password" formControlName="password">
                            <label class="validate-error" *ngIf="password.errors && password.errors.required && password.touched">
                                Password is required
                            </label>
                            <label class="validate-error" *ngIf="password.errors && password.errors.minlength && password.touched">
                                Password should be minimum {{password.errors.minlength.requiredLength}} characters long
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="email" placeholder="Confirm Password" formControlName="confirm_password">
                            <label class="validate-error" *ngIf="confirm_password.errors && confirm_password.errors.required && confirm_password.touched">
                                Confirm Password is required
                            </label>
                            <label class="validate-error" *ngIf="confirm_password.errors && confirm_password.errors.notEquivalent && confirm_password.touched">
                                Password and Confirm Password do not match
                            </label>
                        </div>
                        <div class="form-group">
                            <button [disabled]="!passwordform.valid" type="submit" class="btn btn-password mar-top30">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>