<section class="profilepage">
    <div class="profile-head">PAYMENT OPTIONS</div>
    <div class="container">
        <div class="row mar-top80 mar-bot100">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <ol class="breadcrumb">
                    <li>
                        <a [routerLink]="['/profile']">PROFILE </a>
                    </li>
                    <li class="active">PAYMENT OPTIONS</li>
                </ol>
            </div>
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="account-info-box">
                    <div class="row payment-options">
                        <div class="cards-wrapper">
                            <div class="cards-img">
                                <img src="assets/images/cards.png" alt="">
                            </div>
                        </div>
                        <div class="payment-options1">
                            <flash-messages></flash-messages>
                            <ng-template *ngIf="userSavedCards.length == 0;then noCardsList else yesCardsList"></ng-template>
                            <ng-template #noCardsList>
                                <h5 style="text-align: center;">You have no Saved Cards</h5>
                            </ng-template>
                            <ng-template #yesCardsList>
                                <div *ngFor="let cards of userSavedCards; let i = index" class="add-card">
                                    <div class="card-details1">Card {{i+1}}</div>
                                    <div class="card-details2">
                                        <img src="{{cards.card.brand | cardImage }}" alt="" class="card-img"> {{cards.card.brand }} ****{{cards.card.last4}}, exp {{cards.card.exp_month}}/{{cards.card.exp_year.toString()
                                        | slice:-2}}</div>
                                    <div class="card-details3">
                                        <a href="javascript:;" (click)="deleteCard(cards.id)">Delete</a>
                                    </div>
                                </div>
                            </ng-template>
                            <div class="form-group mar-top150 col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 no-padding">
                                <button type="submit" class="btn" [routerLink]="['/add-payment']">Add a new card</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>