<div class="pickupheader profile-head">
    <div class="dropdown near-font">
        <span class="right-drop">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                Pickup Near:
                <br>
                <span>{{(userPickupAddressToUse) ? userPickupAddressToUse['address'] : ''}}</span>
                <span class="arrow">
                    <i class="fa fa-chevron-down" aria-hidden="true" style="color:#000;"></i>
                </span>
            </a>
            <ul click-stop-propagation class="dropdown-menu near-menu">
                <div class="near-container">
                    <div class="col-sm-10 col-sm-offset-1 mar-top20 mar-bot20">
                        <flash-messages></flash-messages>
                        <div class="form-group">
                            <label for="">Pickup near :</label>
                            <input class="form-control pickup" type="text" required="" value="{{(userPickupAddressToUse) ? userPickupAddressToUse['address'] : ''}}"
                                placeholder="Street, Address, City, State" autocorrect="off" autocapitalize="off" spellcheck="off"
                                #pickup [formControl]="searchControl">
                        </div>
                        <div class="form-group mar-top30">
                            <label for="">Set Maximum Radius to View Deals</label>
                            <p class="range-p hidden-below-768">0-{{radius}} {{radius > 1 ? 'miles':'mile'}}</p>
                            <div class="mileslider">
                                <ion-range-slider #sliderElement step="0.5" type="single" from="{{radius}}" [min]="0" max="10" to_shadow="false" decorate_both="false"
                                    hide_min_max="true" postfix="miles" (onChange)="myOnChange($event)"></ion-range-slider>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 mar-bot20 recenthistory">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h3>Recent History</h3>
                            </div>
                        </div>
                        <ul class="history">
                            <li *ngFor="let userAddress of userPickupAddress; let i = index" (click)="changeAddress($event, userAddress.id)">
                                <input type="hidden" name="lattitude" value="{{userAddress.geoLocation.coordinates[1]}}">
                                <input type="hidden" name="longitude" value="{{userAddress.geoLocation.coordinates[0]}}">
                                <input *ngIf="userPickupAddressToUseAddressId == userAddress.id" type="radio" id="history_{{userAddress.id}}" checked name="userAddressGroup" value="{{userAddress.id}}">
                                <input *ngIf="userPickupAddressToUseAddressId != userAddress.id" type="radio" id="history_{{userAddress.id}}" name="userAddressGroup" value="{{userAddress.id}}">
                                <label for="history_{{userAddress.id}}">
                                    <span>{{userAddress.address.split(',')[0]}}</span> {{userAddress.address.split(',').splice(1).join(',').trim()}}
                                </label>
                                <p>{{radius}} {{radius > 1 ? 'miles':'mile'}} radius</p>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group mar-top20" align="center">
                        <button type="submit" (click)="saveUserPickupLocation()" class="btn pickup-btn">Save</button>
                    </div>
                </div>
            </ul>
        </span>
    </div>
</div>

<section class="productlistingpage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="innerpageheading">
                    <h2>Best Deals Near Me
                        <small>({{productListing.length}} results)</small>
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="innerpageheading1" title="{{establishmentData.name}}">{{establishmentData.name}}</p>
                        <p class="innerpagewalk">
                            <img src="assets/images/walk1.png" width="12" alt=""> {{ (establishmentData.distinfo && establishmentData.distinfo[0].status != "ZERO_RESULTS") ?
                            establishmentData.distinfo[0].duration.text : 'Unknown'}} {{userTravelMode}}
                        </p>
                    </div>
                    <div class="col-sm-12">
                        <p class="innerpageadd">{{establishmentData.address}}</p>
                        <p class="innerpageadd">{{establishmentData.phoneNum}}</p>
                    </div>
                </div>

            </div>
            <div class="col-md-5 filter-right">
                <a href="javascript:void(0)" data-toggle="toggle" (click)="filterToggle()" data-target="#filter" class="filter-view">
                    View All
                    <!-- <span>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span> -->
                </a>

                <div id="filter" class="">
                    <input type="checkbox" name="categoryFilter" (click)="categoryFilter($event)" value="Beer" class="a" />
                    <input type="checkbox" name="categoryFilter" (click)="categoryFilter($event)" value="Wine" class="b" />
                    <input type="checkbox" name="categoryFilter" (click)="categoryFilter($event)" value="Liquor" class="c" />
                    <!-- <input type="checkbox" name="categoryFilter" (click)="categoryFilter($event)" value="Mixer" class="d" /> -->
                </div>
            </div>
        </div>
        <div class="row mar-top80 hidden-xs">
            <div class="col-sm-3">
                <div class="sidebarproducts">
                    <div class="sidebarproduct">
                        <a class="togglebutton" data-toggle="collapse" href="#stores" aria-expanded="true" aria-controls="stores">Stores near me </a>
                        <div class="collapse in" id="stores">
                            <div class="card card-body">
                                <ul *ngIf="storeListing.length > 0">
                                    <li *ngFor="let store of storeListing; let i = index">
                                        <label class="checkbox-design" (click)="storeFilter($event)">
                                            <input attr.data-establishment-id="{{store.id}}" type="radio" name="stores">
                                            <span>{{store.name}}</span>
                                            <p class="col-primary ">({{store.offers.length}})</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isUserLoggedIn" class="sharebevvi mar-top60 mar-bot60 ">
                    <div class="sharebevvi-in">
                        <img src="assets/images/cheers.png " alt=" ">
                        <p class="get5 ">Share bevvi with friends. Get $5</p>
                        <p class="promo-code ">Your referral promo code:
                            <span>{{currentUserDetails.code}}</span>
                        </p>
                        <p class="share-f mar-top30 ">Share your link with friends, $5 off for you and your friends.</p>
                    </div>
                </div>
            </div>


            <div *ngIf="productListing.length > 0;then showProductListing else noProductsAvailable"></div>
            <ng-template #showProductListing>
                <div class="col-sm-9 productlistings">
                    <div *ngFor="let product of productListing; let i = index" class="col-sm-4 col-md-4 productlisting" [routerLink]="['/productdetail', product.id]">

                        <!-- <div class="bestdeal">
                                    <span>
                                        <i class="icon fa fa-heart-o"></i> BEST
                                    </span>
                                </div> -->
                        <div class="productoffer">
                            <span>{{product.endsAt | daysLeft}}</span>
                        </div>
                        <div class="productimg">
                            <img src="{{ product.product | productImageUrl}}">
                        </div>
                        <div class="producdetails">
                            <a [routerLink]="['/productdetail', product.id]" class="viewdetail">
                                <span class="icon fa fa-eye wow fadeIn"></span>
                            </a>
                            <a [routerLink]="['/productdetail', product.id]">
                                <h5 title="{{product.product.name}}">
                                    <a style="color:#000;" [routerLink]="['/productdetail', product.id]">{{product.product.name}}</a>
                                    <span class="small-h5">{{product.product.category}}</span>
                                </h5>
                            </a>
                            <div *ngIf="product.remQty <= 0;then outOfStock else inStock"></div>
                            <ng-template #outOfStock>
                                <span class="stock">Out of Stock</span>
                            </ng-template>
                            <ng-template #inStock>
                                <span class="stock">
                                    <span>{{product.remQty}}</span> / {{product.totalQty}} left</span>
                            </ng-template>
                            <span class="quantity">{{product.product.size}}{{product.product.units}}</span>
                            <span *ngIf="product.originalPrice != product.salePrice" class="price-cut">${{product.originalPrice}}</span>
                            <span class="price-special">${{product.salePrice}}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #noProductsAvailable>
                <div class="col-sm-9 productlistings">
                    <div class="empty">
                        <h2>No offers available in this store</h2>
                    </div>
                </div>
            </ng-template>
        </div>


        <div class="row mar-top50 visible-xs">
            <div class="col-sm-3">
                <div class="sidebarproducts">
                    <div class="sidebarproduct">
                        <a class="togglebutton" data-toggle="collapse" href="#stores" aria-expanded="true" aria-controls="stores">Stores near me </a>
                        <div class="collapse in" id="stores">
                            <div class="card card-body">
                                <ul *ngIf="storeListing.length > 0">
                                    <li *ngFor="let store of storeListing; let i = index" (click)="showProductListingOnMobile($event)">
                                        <label class="checkbox-design" (click)="storeFilter($event)">
                                            <input attr.data-establishment-id="{{store.id}}" type="radio" name="stores">
                                            <span>{{store.name}}</span>
                                            <p class="col-primary ">({{store.offers.length}})</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isUserLoggedIn" class="sharebevvi mar-top60 mar-bot60 ">
                    <div class="sharebevvi-in">
                        <img src="assets/images/cheers.png " alt=" ">
                        <p class="get5 ">Share bevvi with friends. Get $5</p>
                        <p class="promo-code ">Your referral promo code:
                            <span>{{currentUserDetails.code}}</span>
                        </p>
                        <p class="share-f mar-top30 ">Share your link with friends, $5 off for you and your friends.</p>
                    </div>
                </div>
            </div>

            <div *ngIf="productListing.length > 0;then showProductListingXs else noProductsAvailableXs"></div>
            <ng-template #showProductListingXs>
                <div class="col-xs-12 col-sm-9 productlistings mobileview-productlisting">
                    <button class="close-productListing-btn">+</button>
                    <div *ngFor="let product of productListing; let i = index" class="col-sm-4 col-md-4 productlisting" [routerLink]="['/productdetail', product.id]">
                        <div class="productoffer">
                            <span>{{product.endsAt | daysLeft}}</span>
                        </div>
                        <div class="productimg">
                            <img src="{{ product.product | productImageUrl}}">
                        </div>
                        <div class="producdetails">
                            <a class="viewdetail" [routerLink]="['/productdetail', product.id]">
                                <span class="icon fa fa-eye wow fadeIn"></span>
                            </a>
                            <a [routerLink]="['/productdetail', product.id]">
                                <h5 title="{{product.product.name}}">
                                    <a style="color:#000;" [routerLink]="['/productdetail', product.id]">{{product.product.name}}</a>
                                    <span class="small-h5">{{product.product.category}}</span>
                                </h5>
                            </a>

                            <div *ngIf="product.remQty <= 0;then outOfStockXs else inStockXs"></div>
                            <ng-template #outOfStockXs>
                                <span class="stock">Out of Stock</span>
                            </ng-template>
                            <ng-template #inStockXs>
                                <span class="stock">
                                    <span>{{product.remQty}}</span> / {{product.totalQty}} left</span>
                            </ng-template>

                            <span class="quantity">{{product.product.size}}{{product.product.units}}</span>
                            <span *ngIf="product.originalPrice != product.salePrice" class="price-cut">${{product.originalPrice}}</span>
                            <span class="price-special">${{product.salePrice}}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #noProductsAvailableXs>
                <div class="col-sm-9 productlistings">
                    <div class="empty">
                        <h2>No offers available in this store</h2>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</section>