.review-products {
    text-align: center;
    margin-top: 25px;
}

.review-products h4 {
    font-family: 'DirectorsGothic230';
    font-size: 36px;
    color: #000000;
}

.owl-next {
    position: absolute;
    top: 40%;
    right: -2%;
    font-size: 2em;
    font-weight: bold;
}

.owl-prev {
    position: absolute;
    top: 40%;
    left: -2%;
    font-size: 2em;
    font-weight: bold;
}

.review-flex {
    margin-top: 40px;
}

.review-01 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 1px solid #E8E3D9;
    background-color: #FFFFFF;
    padding: 10px 10px 20px;
    margin: 15px auto;
}

.review-01 img {
    height: 265px;
    width: auto;
}

.review-01 h5 {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.review-01 p {
    font-size: 12px;
}

.owl-carousel .owl-item img {
    display: block;
    width: auto;
    text-align: center;
    margin: auto;
}

.item {
    margin-left: 15px;
    margin-right: 15px;
}

.second-modal.in {
    display: flex !important;
    display: -webkit-flex !important;
    display: -mox-flex !important;
    display: -ms-flex !important;
    align-items: center;
    text-align: center;
}

#second-modal .modal-dialog .modal-content {
    border: 3px solid #9D2480;
    border-radius: 0;
}

#second-modal .modal-dialog {
    width: 450px;
    margin: auto;
}

#second-modal h3 {
    font-size: 24px;
    font-weight: 600;
}

#second-modal h4 {
    font-size: 24px;
    font-weight: 500;
}

#second-modal p {
    font-size: 14px;
    line-height: 18px;
}

#second-modal .dont-share {
    font-size: 14px;
    color: #3878DE;
}

#second-modal .sociallinks>ul>li>a {
    color: #000;
}

#second-modal .sociallinks li a {
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    background: none;
    font-size: 30px;
    color: #4a4a4a;
    margin-left: 5px;
    margin-right: 5px;
}

#second-modal .text-grey {
    color: #8D8D8D;
    font-size: 14px;
    line-height: 18px;
}

.btn-plain {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #9D2480;
    border: 2px solid #9D2480;
    border-radius: 15px;
    padding: 8px 5px;
}

.bold-span {
    display: inline-block;
    font-weight: 600;
    padding-bottom: 5px;
}

.share-flex {
    padding: 0 50px;
}

.share-flex .form-control {
    font-size: 14px;
    background-color: #F5F5F5;
    border-radius: 15px;
    border: 1px solid #9B9B9B;
    width: auto;
}

.range-p {
    display: inline-block;
    float: none;
    font-weight: 300;
    padding-left: 20px;
}

.right-drop .arrow {
    position: absolute;
    margin-top: -21px;
    margin-left: 165px;
    transition: 0.5s;
}

.right-drop.open .arrow {
    transform: rotate(180deg);
}

/*************************************
	Star reviewing
**************************************/

div.stars {
    width: auto;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 3px;
    font-size: 20px;
    color: #9D2480;
    transition: all .2s;
    cursor: pointer;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #9D2480;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: #9D2480;
    text-shadow: 0 0 20px #9D2480;
}

label.star:hover {
    transform: scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

.btn-thanks {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 36px;
    font-family: 'DirectorsGothic230';
    width: auto;
    padding: 4px 22px;
    border-radius: 15px;
    line-height: 45px;
}

.modal-backdrop.in {
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal.in .modal-dialog {
    width: 90%;
}

@media screen and (min-width:1500px) {
    .modal.in .modal-dialog {
        width: 60%;
    }
}

@media screen and (min-width:1200px) and (max-width:1500px) {
    .modal.in .modal-dialog {
        width: 70%;
    }
}

@media screen and (max-width:767px) {
    .review-01 h5 {
        font-size: 14px;
    }
    .review-01 p {
        font-size: 10px;
    }
    .modal-dialog {
        margin: auto;
    }
    .innerpageadd, .filter-view {
        font-size: 15px;
    }
    #filter input[type="checkbox"]:after {
        font-size: 13px;
        line-height: 35px;
    }
    #filter input[type="checkbox"] {
        min-height: 35px;
        width: 65px;
    }
    #first-modal, #second-modal {
        padding-left: 17px;
        padding-right: 17px;
    }
    .mar-bot40, .mar-bot55 {
        margin-bottom: 25px;
    }
}

@media screen and (max-width:550px) {
    .review-01 img {
        height: 90px;
        width: auto;
    }
}

@media (max-width: 439px) {
    .pickupheader {
        margin-top: 146px;
    }
}

@media screen and (min-width:992px) and (max-width:1032px) {
    .filter-view {
        padding-right: 10px;
    }
    .innerpageheading1 {
        padding-right: 20px;
    }
}

.near-font {
    max-width: 940px;
    margin: auto;
    padding: 5px 0 0 0;
}

.near-font .pickup1 {
    margin-right: 0;
}

.near-font .fa {
    margin-left: 3px !important;
}

.near-font .arrow {
    margin-left: 0;
    margin-top: 0;
    position: static;
}

.near-font .arrow .fa {
    color: #9B9B9B !important;
}

.near-font .right-drop {
    margin-right: 0;
    text-align: left;
}

.productlistingpage p.innerpagewalk img {
    margin-top: -4px;
}

#filter input[type="checkbox"]::after {
    font-weight: 500;
}

#filter input[type="radio"]::after {
    font-weight: 500;
}

@media (max-width: 767px) {
    .filter-right #filter {
        white-space: normal;
    }
}
.near-font-2a { max-width: 1130px; }

/*Added on 6-4-18*/
.mobileview-productlisting{
    position: fixed;
    top: 146px;
    background: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 30px;
    height: calc(100vh - 146px);
    overflow: auto;
    z-index: 9;
    transform: translate(100%);
    transition: all linear 0.2s;
}
.close-productListing-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    font-size: 40px;
    color: #9d2480;
    text-align: center;
    line-height: 30px;
    transform: rotate(45deg);
    padding: 0;
}
@media (max-width: 767px){
.productlistings div.productlisting{
    display: table;
    width: 100%;
    padding: 0px 20px 20px;
}
}