<!-- <app-spinner></app-spinner> -->
<spinner name="global_spinner">
    <div class="center spinner la-ball-clip-rotate-multiple la-3x">
        <div></div>
        <div></div>
        <div></div>
    </div>
</spinner>
<router-outlet></router-outlet>