<section class="profilepage">
    <div class="profile-head">MY PROFILE</div>
    <div class="container">
        <div class="row mar-top80">
            <div class="col-xs-12 pts-warapper text-center">
                <div class="pts-range display-inline-block">
                    <div class="pro-pts">{{ userPoints.netPoints }}
                        <span>pts</span>
                    </div>
                    <div class="pro-ptsrem">{{ 1000 - userPoints.netPoints | number }}
                        <span>pts remaining</span>
                    </div>
                    <div class="slide-contain">
                        <div class="pro-stat" [style.width.%]="userPoints | pointsBar"></div>
                    </div>
                </div>
                <div class="display-inline-block">
                    <div class="earn-pro">$10</div>
                </div>
            </div>
        </div>
        <div class="row profile-cards mar-top150 mar-bot150">
            <div class="pro-card">
                <h3 class="card-head">ACCOUNT INFO</h3>
                <p class="card-body">{{ loggedInUserData['displayName']}}
                    <br> {{loggedInUserData['email']}}
                    <br> {{loggedInUserData['birthday'] | amDateFormat: 'YYYY-MM-DD'}}
                </p>
                <a [routerLink]="['/accountinfo']" class="card-edit">Edit</a>
            </div>
            <div class="pro-card">
                <h3 class="card-head">PRIMARY PICKUP </h3>
                <div *ngIf="userPickupAddress.length == 0;then noAddress else yesAddress"></div>
                <ng-template #noAddress>
                    <p class="card-body">No saved pickup address </p>
                </ng-template>
                <ng-template #yesAddress>
                    <p class="card-body">{{userPickupAddress[0].address}}</p>
                </ng-template>
                <a [routerLink]="['/primarypickup']" class="card-edit">Edit</a>
            </div>
            <div class="pro-card">
                <h3 class="card-head">PAYMENT OPTIONS</h3>
                <div *ngIf="userSavedCards.length == 0;then noCards else yesCards"></div>
                <ng-template #noCards>
                    <p class="card-body">No saved payment options </p>
                </ng-template>
                <ng-template #yesCards>
                    <p class="card-body">{{ userSavedCards[0].card.brand }} ending {{ userSavedCards[0].card.last4 }}</p>
                </ng-template>
                <a [routerLink]="['/paymentoptions']" class="card-edit">Edit</a>
            </div>
            <div class="pro-card">
                <h3 class="card-head">MY ORDERS</h3>
                <div *ngIf="userOrders.length == 0;then noOrders else yesOrders"></div>
                <ng-template #noOrders>
                    <p class="card-body">No Current Orders</p>
                </ng-template>
                <ng-template #yesOrders>
                    <table class="card-body">
                        <tr *ngFor="let orders of (userOrdersToShow | callback: filterOrders)">
                            <td class="card-body">{{orders.pickupTime | date:'MMM, dd. EEE'}}</td>
                            <td class="card-body">{{orders.establishment.name}}</td>
                        </tr>
                    </table>
                </ng-template>
                <a [routerLink]="['/myorders']" class="card-edit">More</a>
            </div>
        </div>
    </div>
</section>