.pts-warapper .pts-range {
    padding-right: 20px;
    max-width: 300px;
    width: 100%;
    color: #9D2480;
}

.profile-cards .pro-card {
    margin: 1%;
    min-height: 220px;
}

@media screen and (max-width:767px) {
    .pro-card {
        margin-bottom: 20px !important;
    }
    .mar-bot150.mar-top150 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    .profilepage .profile-head {
        margin-top: 146px;
    }
}

@media screen and (max-width:480px) {
    .pts-warapper .pts-range {
        max-width: 250px;
    }
    .profilepage .profile-head {
        margin-top: 128px;
    }
}