.no-orders {
    margin: 0px;
    padding: 30px;
}

.profilepage .container {
    max-width: 970px;
}

.account-info-box1 {
    padding: 40px 30px;
    border: 0;
    box-shadow: none;
}

.account-info-box1 .myorders1 {
    position: relative;
}

.sort-form label {
    font-size: 14px;
    font-family: 'Montserrat';
    padding-right: 15px;
}

.myorders1 .nav-tabs>li>a {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    padding-bottom: 20px;
}

.myorders1 .nav-tabs>li>a:hover, .myorders1 .nav-tabs>li>a:focus, .myorders1 .nav-tabs>li>a:active {
    background: transparent;
    color: #9D2480;
}

.t-right {
    text-align: right;
}

.mar-top-bot {
    margin-top: 35px;
    margin-bottom: 35px;
}

.col-sm-2.mar-bot10.order-img.no-padding {
    width: 105px;
}

@media screen and (min-width:768px) and (max-width:991px) {
    .account-info-box1 {
        padding: 40px 0px;
    }
    .account-info-box1 .tab-content {
        margin-left: 30px;
        margin-right: 30px;
    }
    .myorders1 .nav-tabs>li {
        display: block;
        width: 100%;
    }
    .myorders1 .nav-tabs>li>a {
        padding-bottom: 5px;
    }
    .myorders1 .nav-tabs {
        padding-bottom: 25px;
    }
    .breadcrumb {
        margin-bottom: 20px;
    }
    .mar-top-bot {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:767px) {
    select#sort {
        margin-left: -15px;
    }
    .account-info-box1 {
        padding: 20px 15px;
    }
    .order-flex {
        display: block;
    }
    .account-info-box1 .tab-content {
        margin-left: 20px;
        margin-right: 20px;
    }
    select#sort {
        display: inline-block;
    }
    .sort-form label {
        display: inline-block;
        margin-right: 10px;
    }
    .order-box .receipt {
        padding: 2px 0 5px;
    }
    .order-box .date {
        padding: 5px 0 0;
        text-align: left;
    }
    .order-box .total {
        padding: 5px 0;
    }
    .myorders1 .nav-tabs>li {
        display: block;
        width: 100%;
    }
    .myorders1 .nav-tabs>li>a {
        padding-bottom: 5px;
        margin-left: 0;
    }
    .myorders1 .nav-tabs {
        padding-bottom: 25px;
    }
    .breadcrumb {
        margin-bottom: 20px;
    }
    .mar-top-bot {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .order-img img {
        width: 100%;
        max-width: 106px;
        height: auto;
        border-radius: 5px;
    }
    .col-sm-2.mar-bot10.order-img.no-padding {
        width: 120px;
    }
}

.col-sm-2.mar-bot10.order-img.no-padding {
    width: 99px;
}