<section class="profilepage">
    <div class="profile-head">MY ORDERS</div>
    <div class="container">
        <div class="row mar-top100">
            <div class="col-md-9 col-md-offset-3">
                <ol class="breadcrumb">
                    <li>
                        <a [routerLink]="['/profile']">PROFILE </a>
                    </li>
                    <li class="active">MY ORDERS</li>
                </ol>
            </div>
        </div>

        <div *ngIf="userOrders.length == 0;then noOrders else yesOrders"></div>
        <ng-template #noOrders>
            <div class="row mar-top80 mar-bot100">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 mar-top100">
                    <div class="account-info-box">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                                <h2 class="no-orders">No Orders Yet</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template #yesOrders>
            <div class="row mar-top-bot">
                <div class="col-md-12">
                    <form action="" class="form-inline sort-form pull-right">
                        <div class="form-group">
                            <label for="sort">sort by</label>
                            <select class="form-control" id="sort">
                                <option>Most Recent</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mar-bot50">
                <div class="account-info-box account-info-box1">
                    <div class="row myorders1">
                        <div class="col-md-3">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a data-toggle="tab" href="#pending_pickup">Pending Pickup</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#pending_acceptance">Pending Acceptance</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#past_orders">Past Orders</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#cancelled_orders">Cancelled Orders</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#rejectedId_orders">Cancelled(InvalidId) Orders</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#rejected_orders">Rejected Orders</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-9">
                            <div class="tab-content">
                                <div id="pending_pickup" class="tab-pane fade in active">
                                    <div *ngIf="(userOrders | callback: filterpending_pickup).length == 0 ;then noPendingOrders else yesPendingOrders"></div>
                                    <ng-template #noPendingOrders>
                                        <h2 class="no-orders">No Pending Orders Yet</h2>
                                    </ng-template>
                                    <ng-template #yesPendingOrders>
                                        <div class="row" *ngFor="let orders of (userOrders | callback: filterpending_pickup)">
                                            <div class="col-sm-12 col-md-10 mar-bot10 no-padding">
                                                <div class="order-box">
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <h4>{{orders.establishment.name}}</h4>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="date t-right">{{orders.pickupTime | date:'MMM.dd' }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row order-flex">
                                                        <div class="col-sm-5">
                                                            <table class="order-table">
                                                                <tr *ngFor="let orderitem of orders.orderdetails">
                                                                    <td>{{orderitem.quantity}}</td>
                                                                    <td>{{orderitem.product.name}}</td>
                                                                    <td>${{ orderitem.price | calculateCartPrice: orderitem.quantity}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <p class="total">${{ orders.orderdetails | calculateSubtotal : "order"}}</p>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="receipt">
                                                                <a [routerLink]="['/view-receipt', orders.id]">View reciept</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <div id="pending_acceptance" class="tab-pane fade">
                                    <div *ngIf="(userOrders | callback: filterpending_acceptance).length == 0 ;then noPendingAcceptanceOrders else yesPendingAcceptanceOrders"></div>
                                    <ng-template #noPendingAcceptanceOrders>
                                        <h2 class="no-orders">No Pending Accepted Orders</h2>
                                    </ng-template>
                                    <ng-template #yesPendingAcceptanceOrders>
                                        <div class="row" *ngFor="let orders of (userOrders | callback: filterpending_acceptance)">
                                            <div class="col-sm-12 col-md-10 mar-bot10 no-padding">
                                                <div class="order-box">
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <h4>{{orders.establishment.name}}</h4>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="date t-right">{{orders.createdAt | date:'MMM.dd' }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row order-flex">
                                                        <div class="col-sm-5">
                                                            <table class="order-table">
                                                                <tr *ngFor="let orderitem of orders.orderdetails">
                                                                    <td>{{orderitem.quantity}}</td>
                                                                    <td>{{orderitem.product.name}}</td>
                                                                    <td>${{ orderitem.price | calculateCartPrice: orderitem.quantity}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <p class="total">${{ orders.orderdetails | calculateSubtotal : "order"}}</p>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="receipt">
                                                                <a [routerLink]="['/view-receipt', orders.id]">View reciept</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <div id="past_orders" class="tab-pane fade">
                                    <div *ngIf="(userOrders | callback: filterpast_orders).length == 0 ;then noPastOrders else yesPastOrders"></div>
                                    <ng-template #noPastOrders>
                                        <h2 class="no-orders">No Past Orders</h2>
                                    </ng-template>
                                    <ng-template #yesPastOrders>
                                        <div class="row" *ngFor="let orders of (userOrders | callback: filterpast_orders)">
                                            <div class="col-sm-12 col-md-10 mar-bot10 no-padding">
                                                <div class="order-box">
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <h4>{{orders.establishment.name}}</h4>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="date t-right">{{orders.pickedUpDate | date:'MMM.dd' }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row order-flex">
                                                        <div class="col-sm-5">
                                                            <table class="order-table">
                                                                <tr *ngFor="let orderitem of orders.orderdetails">
                                                                    <td>{{orderitem.quantity}}</td>
                                                                    <td>{{orderitem.product.name}}</td>
                                                                    <td>${{ orderitem.price | calculateCartPrice: orderitem.quantity}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <p class="total">${{ orders.orderdetails | calculateSubtotal : "order"}}</p>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="receipt">
                                                                <a [routerLink]="['/review-product', orders.id]">Review Products</a>
                                                            </p>
                                                            <p class="receipt">
                                                                <a [routerLink]="['/view-receipt', orders.id]">View reciept</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <div id="cancelled_orders" class="tab-pane fade">
                                    <div *ngIf="(userOrders | callback: filtercancelled_orders).length == 0 ;then noCancelledOrders else yesCancelledOrders"></div>
                                    <ng-template #noCancelledOrders>
                                        <h2 class="no-orders">No Cancelled Orders</h2>
                                    </ng-template>
                                    <ng-template #yesCancelledOrders>
                                        <div class="row" *ngFor="let orders of (userOrders | callback: filtercancelled_orders)">
                                            <div class="col-sm-12 col-md-10 mar-bot10 no-padding">
                                                <div class="order-box">
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <h4>{{orders.establishment.name}}</h4>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="date t-right">{{orders.pickupTime | date:'MMM.dd' }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row order-flex">
                                                        <div class="col-sm-5">
                                                            <table class="order-table">
                                                                <tr *ngFor="let orderitem of orders.orderdetails">
                                                                    <td>{{orderitem.quantity}}</td>
                                                                    <td>{{orderitem.product.name}}</td>
                                                                    <td>${{ orderitem.price | calculateCartPrice: orderitem.quantity}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <p class="total">${{ orders.orderdetails | calculateSubtotal : "order"}}</p>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="receipt">
                                                                <a [routerLink]="['/view-receipt', orders.id]">View Details</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <div id="rejected_orders" class="tab-pane fade">
                                    <div *ngIf="(userOrders | callback: filterrejected_orders).length == 0 ;then noRejectedOrders else yesRejectedOrders"></div>
                                    <ng-template #noRejectedOrders>
                                        <h2 class="no-orders">No Rejected Orders</h2>
                                    </ng-template>
                                    <ng-template #yesRejectedOrders>
                                        <div class="row" *ngFor="let orders of (userOrders | callback: filterrejected_orders)">
                                            <div class="col-sm-12 col-md-10 mar-bot10 no-padding">
                                                <div class="order-box">
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <h4>{{orders.establishment.name}}</h4>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="date t-right">{{orders.pickupTime | date:'MMM.dd' }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row order-flex">
                                                        <div class="col-sm-5">
                                                            <table class="order-table">
                                                                <tr *ngFor="let orderitem of orders.orderdetails">
                                                                    <td>{{orderitem.quantity}}</td>
                                                                    <td>{{orderitem.product.name}}</td>
                                                                    <td>${{ orderitem.price | calculateCartPrice: orderitem.quantity}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <p class="total">${{ orders.orderdetails | calculateSubtotal : "order"}}</p>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="receipt">
                                                                <a [routerLink]="['/view-receipt', orders.id]">View Details</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <div id="rejectedId_orders" class="tab-pane fade">
                                    <div *ngIf="(userOrders | callback: filterrejectedId_orders).length == 0 ;then noRejectedIdOrders else yesRejectedIdOrders"></div>
                                    <ng-template #noRejectedIdOrders>
                                        <h2 class="no-orders">No Rejected Orders due to Invalid Id</h2>
                                    </ng-template>
                                    <ng-template #yesRejectedIdOrders>
                                        <div class="row" *ngFor="let orders of (userOrders | callback: filterrejectedId_orders)">
                                            <div class="col-sm-12 col-md-10 mar-bot10 no-padding">
                                                <div class="order-box">
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <h4>{{orders.establishment.name}}</h4>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="date t-right">{{orders.pickupTime | date:'MMM.dd' }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="row order-flex">
                                                        <div class="col-sm-5">
                                                            <table class="order-table">
                                                                <tr *ngFor="let orderitem of orders.orderdetails">
                                                                    <td>{{orderitem.quantity}}</td>
                                                                    <td>{{orderitem.product.name}}</td>
                                                                    <td>${{ orderitem.price | calculateCartPrice: orderitem.quantity}}</td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <p class="total">${{ orders.orderdetails | calculateSubtotal : "order"}}</p>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <p class="receipt">
                                                                <a [routerLink]="['/view-receipt', orders.id]">View Details</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</section>