.accountform label {
    font-size: 14px;
    color: #000;
    font-weight: 500;
    margin-top: 0;
    text-transform: capitalize;
}

.primary-pickup .form-control, .accountform .form-control {
    height: 55px;
    line-height: 55px;
    border-radius: 12px;
}

.account-info-box {
    margin: 0px auto;
}

.accountform {
    width: 350px;
    margin: 60px auto;
}

@media screen and (max-width:450px) {
    .accountform {
        width: 100%;
    }
}

.accountform {
    max-width: 315px;
}