<section class="profilepage">
    <div class="profile-head">ACCOUNT INFO</div>
    <div class="container">
        <div class="row mar-top80 mar-bot100">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <ol class="breadcrumb">
                    <li>
                        <a [routerLink]="['/profile']">PROFILE </a>
                    </li>
                    <li class="active">ACCOUNT INFO</li>
                </ol>
            </div>
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="account-info-box">
                    <div class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                            <form class="accountform" [formGroup]="accountform" id="accountform" (ngSubmit)="onSaveProfile()">
                                <flash-messages></flash-messages>
                                <h5 class="form-title">Update Personal Information</h5>
                                <label>Name</label>
                                <div class="form-group">
                                    <input class="form-control" type="text" formControlName="username" name="username" [ngModel]="usernameModel" placeholder="{{usernameModel}}">
                                    <label class="validate-error" *ngIf="username.errors && username.errors.required && username.touched">
                                        Please enter Your Name
                                    </label>
                                    <!-- <div>{{username.errors | json}}</div> -->
                                </div>
                                <label>Email</label>
                                <div class="form-group">
                                    <input class="form-control" disabled="true" type="email" name="email" placeholder="{{loggedInUserData['email']}}" value="{{loggedInUserData['email']}}"
                                        required="">
                                </div>

                                <label>Phone</label>
                                <div class="form-group mar-bot60">
                                    <input class="form-control" type="text" formControlName="phoneNumber" name="phoneNumber" placeholder="{{loggedInUserData['phoneNumber']}}"
                                        [ngModel]="phoneNumberModel" required="">
                                    <label class="validate-error" *ngIf="phoneNumber.errors && phoneNumber.errors.required && phoneNumber.touched">
                                        Please enter Phone Number
                                    </label>
                                    <label class="validate-error" *ngIf="(phoneNumber.errors && !phoneNumber.errors.required) && phoneNumber.errors && phoneNumber.errors.minlength && phoneNumber.touched">
                                        Phone Number should be minimum {{phoneNumber.errors.minlength.requiredLength}} digits long
                                    </label>
                                    <!-- <div>{{phoneNumber.errors | json}}</div> -->
                                </div>


                                <h5 class="form-title">Change Password</h5>
                                <label>Change Password</label>
                                <div class="form-group">
                                    <input class="form-control" type="password" formControlName="password" name="password" placeholder="*******">
                                    <!-- <div>{{password.errors | json}}</div> -->
                                    <label class="validate-error" *ngIf="password.errors && password.errors.minlength && password.touched">
                                        Password should be minimum {{password.errors.minlength.requiredLength}} characters long
                                    </label>
                                </div>
                                <label>Confirm Password</label>
                                <div class="form-group">
                                    <input class="form-control" type="password" formControlName="confirm_password" name="confirm_password" placeholder="*******">
                                    <!-- <div>{{confirm_password.errors | json}}</div> -->
                                    <label class="validate-error" *ngIf="confirm_password.errors && confirm_password.errors.notEquivalent && confirm_password.touched">
                                        Password and Confirm Password do not match
                                    </label>
                                </div>

                                <!-- <div class="form-group radio-buttons">
                                    <input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" checked="">
                                    <label for="toggle-on" class="btn-radio2">
                                        <img src="assets/images/radio1-1.png" alt="" id="tog-img1"> &nbsp; Walking</label>
                                    <input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio">
                                    <label for="toggle-off" class="btn-radio1">
                                        <img src="assets/images/radio2-2.png" alt="" id="tog-img2"> &nbsp; Driving</label>
                                </div>
                                
                                <div class="form-group mar-top30 range-group">
                                    <label for="">Set Maximum Radius to View Deals</label>
                                    <p class="range-p hidden-below-768">0-1 mile</p>

                                    <div class="mileslider">
                                        <ion-range-slider #sliderElement type="single" step="0.5" [min]="0" max="10" to_shadow="false" decorate_both="false" hide_min_max="true"
                                            postfix="miles"></ion-range-slider>
                                        <!-- (onUpdate)="myOnUpdate($event)" (onChange)="myOnChange($event)" (onFinish)="myOnFinish($event)" -->


                                <!-- <input type="text" id="range" value="" name="range" /> -->
                                <!-- </div>
                                </div> -->
                                <div class="form-group mar-top50">
                                    <button [disabled]="!accountform.valid" type="submit" class="btn">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>