.selectpickup {
    margin-top: 118px;
}

.pickup-card-in .select_items {
    height: 55px;
    line-height: 55px;
}

.pickup-card-in .select {
    padding-top: 8px;
}

.pickup-card {
    background-color: transparent;
}

.pickup-card .second-header {
    max-width: 500px;
    margin: 0px auto;
}

.pickup-card .pickup-card-in {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
}

.pickup-card-in .search {
    text-align: left;
    font-size: 14px;
    padding-left: 35px;
    background-color: #F5F5F5;
    color: #000;
    border: 1px solid #9B9B9B;
}

.search-input {
    position: absolute;
    font-size: 14px;
    top: 18px;
    left: 30px;
}

input[type=checkbox] {
    position: relative;
    opacity: 1;
}

/* The container */

.pickup-check {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pickup-check input {
    position: absolute;
    opacity: 0;
}

.pickup-mark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 11px;
    width: 11px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
}

.pickup-check input:checked~.pickup-mark {
    background-color: #fff;
}

.pickup-mark:after {
    content: "";
    position: absolute;
    display: none;
}

.pickup-check input:checked~.pickup-mark:after {
    display: block;
}

.pickup-check .pickup-mark:after {
    left: 4px;
    top: -5px;
    width: 6px;
    height: 12px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn-thanks {
    font-size: 36px;
    font-family: 'DirectorsGothic230';
    background-color: #F78130;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 1px 22px;
    width: auto;
    line-height: 45px;
    margin: 80px 0;
}

::placeholder {
    color: #000 !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000 !important;
}

::-ms-input-placeholder {
    color: #000 !important;
}

@media screen and (min-width:768px) and (max-width:991px) {
    .selectpickup {
        margin-top: 118px;
    }
}