<section class="selectpickup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1  pickup-card">
                <div class="second-header">
                    <div class="logo1">
                        <img src="assets/images/logo.png" alt="">
                    </div>
                </div>
                <div class="pickup-card-in">
                    <h3>Select your
                        <br class="hidden-below-768"> nearest pickup location </h3>
                    <p class="grey mar-bot30">Selecting your pickup address is the only way.
                        <br> We can make sure to give you a best deal around you.</p>
                    <flash-messages></flash-messages>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="search-input">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                <!-- <input type="text" class="form-control search" placeholder="Street, Address, City, State"> -->
                                <input type="text" class="form-control search" placeholder="Street, Address, City, State" autocorrect="off" autocapitalize="off"
                                    spellcheck="off" #search [formControl]="searchControl">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group mar-top40">
                                <label for="">Set Maximum Walking Distance</label>
                                <p class="range-p hidden-below-768">0-{{radius}} {{radius > 1 ? 'miles':'mile'}}</p>
                                <div class="mileslider">
                                    <ion-range-slider #sliderElement type="single" [min]="0" max="10" to_shadow="false" decorate_both="false" hide_min_max="true"
                                        postfix="miles" step="0.5" grid="true" (onChange)="myOnChange($event)"></ion-range-slider>
                                </div>
                            </div>
                            <div class="mar-top30" align="center">
                                <button type="button" (click)="onSave()" class="btn btn-save">Save</button>
                            </div>
                            <div class="mar-top20">
                                <!-- <label class="pickup-check">Remember my selection
                                    <input type="checkbox">
                                    <span class="pickup-mark"></span>
                                </label> -->
                                <p class="grey10">You can change your location setting anytime</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <h2>No Saved Pickup Location</h2>
        </div> -->
    </div>
</section>