<section class="profilepage">
    <div class="profile-head">VIEW RECIEPT</div>
    <div class="container">
        <div class="row mar-top80 mar-bot100">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <ol class="breadcrumb">
                    <li>
                        <a [routerLink]="['/profile']">PROFILE </a>
                    </li>
                    <li>
                        <a [routerLink]="['/myorders']">MY ORDERS </a>
                    </li>
                    <li class="active">VIEW RECIEPT</li>
                </ol>
            </div>
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" id="print-section">
                <div class="account-info-box">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 mar-top50 mar-bot30 viewreceipt">
                            <p class="order-num">Order Number #{{ orderData['orderNumber'] }}</p>
                            <h5 class="title">{{ establishmentData['name'] }}</h5>
                            <p class="address">{{ establishmentData['address'] }} {{ establishmentData['phoneNum'] }}</p>
                            <div class="row receipt-titles">
                                <div class="col-md-3 col-xs-6">
                                    <p class="title-4">Ordered date</p>
                                    <p class="cont-4">{{ orderData['pickupTime'] | amDateFormat: 'dddd' }}
                                        <br> {{orderData['pickupTime'] | amDateFormat: 'MMM D, YYYY'}}</p>
                                </div>

                                <div *ngIf="orderData['status'] == 0 || orderData['status'] == 1;then pendingAcceptanceAndPickup"></div>
                                <ng-template #pendingAcceptanceAndPickup>
                                    <div class="col-md-3 col-xs-6">
                                        <p class="title-4">Pickup date</p>
                                        <p class="cont-4">{{orderData['pickupTime'] | amDateFormat: 'MMM D, YYYY'}}
                                            <br> {{orderData['pickupTime'] | amDateFormat: 'hh:mm a'}}
                                        </p>
                                    </div>
                                    <div class="col-md-3 col-xs-6"></div>
                                </ng-template>

                                <div *ngIf="orderData['status'] == 2;then pickedupOrder"></div>
                                <ng-template #pickedupOrder>
                                    <div class="col-md-3 col-xs-6">
                                        <p class="title-4">Pickedup date</p>
                                        <p class="cont-4">{{orderData['pickupTime'] | amDateFormat: 'MMM D, YYYY'}}
                                            <br> {{orderData['pickupTime'] | amDateFormat: 'hh:mm a'}}
                                        </p>
                                    </div>
                                    <div class="col-md-3 col-xs-6"></div>
                                </ng-template>

                                <div *ngIf="orderData['status'] == 3;then rejectedOrder"></div>
                                <ng-template #rejectedOrder>
                                    <div class="col-md-3 col-xs-6">
                                        <p class="title-4">Rejected date</p>
                                        <p class="cont-4">{{orderData['updatedAt'] | amDateFormat: 'MMM D, YYYY'}}
                                            <br> {{orderData['updatedAt'] | amDateFormat: 'hh:mm a'}}
                                        </p>
                                    </div>
                                    <div class="col-md-3 col-xs-6"> </div>
                                </ng-template>

                                <div *ngIf="orderData['status'] == 4 || orderData['status'] == 5;then cancelledOrder"></div>
                                <ng-template #cancelledOrder>
                                    <div class="col-md-3 col-xs-6">
                                        <p class="title-4">Cancelled date</p>
                                        <p class="cont-4">{{orderData['updatedAt'] | amDateFormat: 'MMM D, YYYY'}}
                                            <br> {{orderData['updatedAt'] | amDateFormat: 'hh:mm a'}}
                                        </p>
                                    </div>
                                    <div class="col-md-3 col-xs-6"></div>
                                </ng-template>


                                <div class="col-md-3 col-xs-6">
                                    <p class="title-4">
                                        <a href="javascript:;" (click)="print()">PRINT RECEIPT</a>
                                    </p>
                                    <p class="cont-4">ORDER #{{ orderData['orderNumber'] }}</p>
                                </div>

                            </div>
                            <p class="orders">Ordered Items</p>
                            <div class="table-responsive">
                                <table class="table receipt-table" width="100%">
                                    <tr>
                                        <th colspan="2">Product</th>
                                        <th width="100">Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                    <tr *ngFor="let items of orderDetails; let i = index">
                                        <td width="50">
                                            <img src="{{ items.offer.product | productImageUrl }}" alt="">
                                        </td>
                                        <td>{{ items.offer.product.name }}</td>
                                        <td>{{ items.quantity }}</td>
                                        <td>${{ items.price | calculateCartPrice:items.quantity }}</td>
                                    </tr>
                                    <tr *ngIf="orderData['status'] != 4">
                                        <td width="50"></td>
                                        <td></td>
                                        <td class="tab-right">SUBTOTAL: </td>
                                        <td>${{ orderDetails | calculateSubtotal }}</td>
                                    </tr>
                                    <tr *ngIf="orderData['status'] != 4">
                                        <td width="50"></td>
                                        <td></td>
                                        <td class="tab-right">TAX: </td>
                                        <td>${{ orderData['tax'] }}</td>
                                    </tr>
                                    <tr *ngIf="orderData['status'] != 4">
                                        <td width="50"></td>
                                        <td></td>
                                        <td class="tab-right">REWARDS: </td>
                                        <td>${{ discountAmount }}</td>
                                    </tr>
                                    <tr *ngIf="orderData['status'] != 4">
                                        <td width="50"></td>
                                        <td></td>
                                        <td class="tab-right">TOTAL: </td>
                                        <td>${{ orderData.totalAmount }}</td>
                                    </tr>
                                    <tr *ngIf="orderData['status'] != 4 && discountAmount == 0">
                                        <td width="50"></td>
                                        <td></td>
                                        <td class="tab-right col-primary">Points: </td>
                                        <td class="col-primary">{{ orderDetails | calculatePointsEarned }}pts</td>
                                    </tr>
                                </table>
                            </div>
                            <p *ngIf="orderData['status'] != 4" class="payment">PAYMENT METHOD: Paid by {{transactionData.additionalData.source.card.brand}}, ending in {{transactionData.additionalData.source.card.last4}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>