.profilepage .container {
    max-width: 970px;
}

.receipt-titles {
    margin-right: -35px;
}

.receipt-table.table>tbody>tr>td {
    vertical-align: middle;
}

.receipt-table2 {
    width: 250px;
    margin-left: auto;
    color: #8D8D8D;
    text-transform: capitalize;
}

.receipt-table2 .color {
    color: #000;
    padding-bottom: 25px;
}

.review-products {
    text-align: center;
}

.review-products h4 {
    font-family: 'DirectorsGothic230';
    font-size: 36px;
    color: #000000;
    margin-top: 45px;
}

.review-p-text {
    font-size: 14px;
}

.review-flex {
    margin-top: 40px;
}

.review-01 {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border: 1px solid #E8E3D9;
    background-color: #FFFFFF;
    padding: 10px 10px 20px;
    margin-bottom: 30px;
}

.review-01 img {
    height: 265px;
    width: auto;
}

.review-01 h5 {
    font-size: 18px;
    color: #000000;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.review-01 p {
    font-size: 12px;
}

/*************************************
	Star reviewing
**************************************/

div.stars {
    width: auto;
    display: inline-block;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 3px;
    font-size: 24px;
    color: #9D2480;
    transition: all .2s;
    cursor: pointer;
}

input.star:checked~label.star:before {
    content: '\f005';
    color: #9D2480;
    transition: all .25s;
}

input.star-5:checked~label.star:before {
    color: #9D2480;
    text-shadow: 0 0 20px #9D2480;
}

input.star-1:checked~label.star:before {
    color: #F62;
}

label.star:hover {
    transform: scale(1.3);
}

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

.btn-thanks {
    margin-top: 40px;
    font-size: 36px;
    font-family: 'DirectorsGothic230';
    width: auto;
    padding: 4px 22px;
    border-radius: 15px;
    line-height: 45px;
}

.receipt-table:last-child.table>tbody>tr:nth-last-of-type(2)>td {
    border-top: 0.5px solid #E8E3D9;
}

.receipt-table:first-child.table>tbody>tr>td {
    min-width: 50px;
}

table.receipt-table th{
    text-align: center;
}
table.receipt-table tr td:nth-child(4){
    text-align: right;
}
table.receipt-table tr td:nth-child(3){
    text-align: center;
}