<div *ngIf="isUserLoggedIn == true">
    <section class="cartpage1 cart-login address_date">
        <div class="container">
            <div class="row mar-top40 mar-bot40">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>CHECK OUT</h3>
                    <hr>
                    <div class="row steps-row">
                        <div class="col-sm-12">
                            <ol class="cd-multi-steps text-bottom">
                                <li class="current">
                                    <a href="javascript:void(0)">Pickup Details</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Payment Options</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">Order Summary</a>
                                </li>
                            </ol>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="cartpageheading">
                        <h2>Pick Up Time</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="cartpageheading1">{{establishmentData.name}}</p>
                            <p class="cartpagewalk">
                                <img src="assets/images/walk1.png" width="12" alt=""> {{ (establishmentDistance && establishmentDistance.status != "ZERO_RESULTS") ? establishmentDistance.duration.text
                                : 'Unknown'}} {{userTravelMode}}</p>
                        </div>
                        <div class="col-sm-12">
                            <p class="cartpageadd">{{establishmentData.address}} {{establishmentData.phoneNum}}</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mar-top40 mar-bot20 cart-row-flex">
                <div class="col-md-6 mar-bot20">
                    <agm-map style="height: 360px;border-radius: 15px;" [latitude]="establishmentLatitude" [longitude]="establishmentLongitude"
                        [scrollwheel]="false" [zoom]="zoom">
                        <agm-marker [latitude]="establishmentLatitude" [longitude]="establishmentLongitude"></agm-marker>
                    </agm-map>
                    <!-- <div>{{destination | json}}</div>
                    <agm-map style="height: 360px;border-radius: 15px;">
                        <sebm-google-map-directions [directionsDisplay]="directionsDisplay"  [origin]="origin" [destination]="destination"></sebm-google-map-directions>
                    </agm-map> -->
                    <p class="go-map">
                        <a href="https://www.google.com/maps/?q={{establishmentLatitude}},{{establishmentLongitude}}" target="_blank">Go to Google map</a>
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-0 picker-column mar-bot20">
                    <my-datepicker name="date"></my-datepicker>
                    <input type="hidden" id="dateForServer" />
                    <flash-messages></flash-messages>
                    <!-- <button type="button" class="btn datepick-btn mar-bot20">Choose Pickup Date / Time</button> -->
                    <button type="button" (click)="cart_step1_next()" class="btn datepick-btn-next">Next &rsaquo;</button>
                </div>
            </div>
        </div>
    </section>
</div>