<section class="selectpickup">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1  pickup-card">
                <div class="second-header">
                    <div class="logo1">
                        <img src="assets/images/logo.png" alt="">
                    </div>
                </div>
                <div class="pickup-card-in">
                    <h3>Currently Unavailable</h3>
                    <p class="mar-bot30">Sorry, looks like we are not available in your area.</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="search-input">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>
                                <input type="text" class="form-control search" value="{{addressToShow}}">
                            </div>
                            <div *ngIf="isUserLoggedIn;then getEmailFromProfile else askForEmail"></div>
                            <ng-template #askForEmail>
                                <div id="emailDiv" class="form-group">
                                    <input style="max-width: 367px;margin: 0 auto;" type="email" placeholder="Email*" name="userEmail" class="form-control">
                                </div>
                            </ng-template>
                            <ng-template #getEmailFromProfile>
                                <input id="emailDiv" type="hidden" name="userEmail" value="{{loggedInUserData.email}}" />
                            </ng-template>
                            <div align="center">
                                <button id="submitButton" type="button" (click)="bringBevviToCity(addressToShow)" class="btn btn-thanks">Bring Bevvi to my city</button>
                                <label id="thankYouText" class="hidden">We will notify you as soon as we are live</label>
                            </div>
                        </div>
                    </div>
                    <h3 *ngIf="showPastAddresses">Select Past Address</h3>
                    <ul *ngIf="showPastAddresses" class="history" style="text-align: left;">
                        <li *ngFor="let userAddress of userPickupAddress; let i = index" (click)="changeAddress($event, userAddress.id)">
                            <input type="hidden" name="lattitude" value="{{userAddress.geoLocation.coordinates[1]}}">
                            <input type="hidden" name="longitude" value="{{userAddress.geoLocation.coordinates[0]}}">
                            <input type="radio" id="history_{{userAddress.id}}" name="userAddressGroup" value="{{userAddress.id}}">
                            <label for="history_{{userAddress.id}}">
                                <span>{{userAddress.address.split(',')[0]}}</span> {{userAddress.address.split(',').splice(1).join(',').trim()}}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>