.cart-login {
    padding-top: 10px;
}

.cart-login .container {
    max-width: 970px;
}

.cd-multi-steps li::after {
    height: 3px;
}

.cartpageheading1 {
    font-size: 18px;
}

.cartpageadd {
    font-size: 18px;
}

.form-control1 {
    padding: 14px 25px;
}

.cart-cards, .cartpage1 {
    padding-top: 10px;
}

.cart-cards .container, .cartpage1 .container {
    max-width: 970px;
}

.card-det2, .card-det2 a {
    padding-top: 30px;
}

.card-det1 {
    padding-top: 30px;
}

.card-title1 a, .card-title2 a {
    display: inline-block;
    width: 100%;
}

.card-title2 img {
    width: 50px;
    vertical-align: middle;
    float: right;
}

.card-edit-box .panel-title {
    padding: 10px 20px;
    vertical-align: middle;
    display: inline-block;
    width: 85%;
    line-height: 28px;
}

.cart-cards .panel-heading p {
    padding-top: 7px !important;
    margin-bottom: 0;
}

.cart-cards .panel-default>.panel-heading+.panel-collapse>.panel-body form label:not(.select_expandLabel) {
    font-size: 12px;
}

.cart-cards .select_items {
    height: 55px;
    border-radius: 12px;
    line-height: 55px;
    font-size: 14px;
}

.card-edit-a {
    width: auto !important;
    float: right;
    color: #3D8AEB !important;
    padding-top: 15px;
    padding-right: 10px;
}

.select_options {
    margin-top: 10px;
}

.card-pickup h4 {
    color: #9D2480;
    margin-top: 25px;
}

.cart-cards .select_expandLabel {
    height: 100%;
}

.cart-cards .form-control {
    border-radius: 12px;
    line-height: 55px;
    height: 55px;
    font-size: 14px;
}

.card-edit-p {
    position: absolute;
    text-align: center;
    padding-top: 30px;
    font-size: 14px;
    margin-left: -60px;
}

.card-edit-p a {
    color: #3D8AEB;
}

/* Hide the browser's default checkbox */

.cart-cards input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

.cart-cards .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 1px solid #BBB4A7;
    border-radius: 3px;
    transform: translate(0, -50%);
}

.cart-cards .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.cart-cards input[type=checkbox]:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.cart-cards .checkmark:after {
    left: 3px;
    top: 1px;
    width: 4px;
    height: 7px;
    border: solid #BBB4A7;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.card-pickup {
    padding: 10px 30px;
}

.card-pickup p {
    margin-bottom: 5px;
}

.cart-cards .panel-title.card-title3 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cartpage2-table .qty-input {
    display: inline-table;
    vertical-align: text-bottom;
}

.card-pickup1 {
    padding-bottom: 74px;
}

.cartpage1 .box-01 {
    padding: 7px 20px;
    border-radius: 15px;
    width: 280px;
}

.order-info p:nth-child(2) {
    width: calc(100% - 45px);
}

.order-info .fa .fa-map-marker {
    font-size: 24px;
}

.cartpage-border {
    padding-bottom: 20px;
    color: #8D8D8D;
}

.cartpage-border0 {
    padding-top: 10px;
    font-weight: 600;
}

.small-color {
    font-size: 14px;
    color: #9D2480;
}

.btn-send {
    width: auto;
    font-family: 'Montserrat';
    font-size: 18px;
    box-shadow: none;
}

.order-info i {
    color: #9D2480;
    font-size: 1.15em;
}

.edit-add-card {
    text-align: right;
    font-size: 14px;
    padding-right: 25px;
}

.card-all {
    width: 210px !important;
}

.edit-add-card a {
    color: #4A90E2;
}

.btn-next {
    width: 299px;
}

.edit-date {
    text-align: right;
    padding-top: 10px;
    font-size: 18px;
    padding-right: 20px;
}

.edit-date a {
    color: #4A90E2;
}

.select_expand {
    -moz-appearance: none;
}

.second-modal.in {
    display: flex !important;
    display: -webkit-flex !important;
    display: -mox-flex !important;
    display: -ms-flex !important;
    align-items: center;
    text-align: center;
}

#second-modal .modal-dialog .modal-content {
    border: 3px solid #9D2480;
    border-radius: 0;
}

#second-modal .modal-dialog {
    width: 450px;
    margin: auto;
}

#second-modal h3 {
    font-size: 24px;
    font-weight: 600;
}

#second-modal h4 {
    font-size: 24px;
    font-weight: 500;
}

#second-modal p {
    font-size: 14px;
    line-height: 18px;
}

#second-modal .dont-share {
    font-size: 14px;
    color: #3878DE;
}

#second-modal .sociallinks>ul>li>a {
    color: #000;
}

#second-modal .sociallinks li a {
    border-radius: 3px;
    text-align: center;
    line-height: 30px;
    background: none;
    font-size: 30px;
    color: #4a4a4a;
    margin-left: 5px;
    margin-right: 5px;
}

#second-modal .text-grey {
    color: #8D8D8D;
    font-size: 14px;
    line-height: 18px;
}

.btn-plain {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    color: #9D2480;
    border: 2px solid #9D2480;
    border-radius: 15px;
    padding: 8px 5px;
}

.bold-span {
    display: inline-block;
    font-weight: 600;
    padding-bottom: 5px;
}

.go-map {
    text-align: right;
}

.go-map a {
    font-size: 12px;
    color: #4A90E2;
    line-height: 15px;
    margin-top: 10px;
}

.pickup-card1.declined {
    border: 2px solid #9D2480;
}

.text-declined {
    color: #9D2480;
    font-size: 10px;
    font-weight: 300;
    line-height: 13px;
    margin-top: 5px;
    margin-bottom: 0;
}

li.ol-visited a {
    color: #BBB4A7;
}

.cd-multi-steps.text-top li.ol-visited>*::before, .cd-multi-steps.text-bottom li.ol-visited>*::before {
    background-color: #BBB4A7;
}

.cd-multi-steps li.ol-visited::after {
    background-color: #BBB4A7;
}

@media screen and (max-width:1070px) {
    .card-edit-p {
        position: relative;
        margin-left: 0;
        text-align: left;
        padding-top: 0;
    }
}

@media screen and (max-width:480px) {
    .card-edit-a {
        display: block;
        width: 100% !important;
        float: none;
        padding-top: 0;
        padding-right: 0;
        padding-left: 80px;
        position: absolute;
        margin-top: -35px;
    }
    .card-edit-box .panel-title {
        width: 100%;
    }
    .card-title2 img {
        float: none;
        display: block;
        margin-left: 0;
    }
}

@media screen and (max-width:991px) {
    .edit-date {
        text-align: left;
        padding-top: 10px;
        font-size: 18px;
        padding-right: 0;
        padding-left: 240px;
    }
}

@media screen and (max-width:767px) {
    .cd-breadcrumb, .cd-multi-steps {
        margin-left: 0;
        padding-left: 0;
    }
    #first-modal, #second-modal {
        padding-left: 17px;
        padding-right: 17px;
    }
    .mar-bot40, .mar-bot55 {
        margin-bottom: 25px;
    }
    .cd-multi-steps.text-bottom {
        margin: 0 !important;
        width: 100% !important;
        padding: 0 !important;
        text-align: center;
    }
    .cd-multi-steps li::after {
        display: none;
    }
}

@media screen and (max-width:480px) {
    .card-title2 img {
        width: 50px;
        float: none;
        padding: 10px 0;
        display: block;
    }
}

.card-pickup1, .card-pickup1 .col-sm-12 {
    padding-right: 0px;
}

.card-pickup1 {
    margin-right: -50px;
}

.card-pickup1 .pickup-card1 {
    font-size: 17px;
}

.notAvailable {
    background: #9d248052;
}

@media screen and (max-width:991px) {
    .card-pickup1 {
        margin-right: 0px;
    }
    .card-pickup1, .card-pickup1 .col-sm-12 {
        padding-right: 0px;
        padding-left: 0px;
    }
}