<input type="hidden" id="hiddentnuoma" value="{{ cartItems | calculateTotalPrice}}" />
<input type="hidden" id="hiddenetad" value="{{ userPickupTime | amDateFormat: 'YYYY-MM-DDTHH:mm:ss.000' }}Z" />
<section class="cartpage1">
    <div class="container">
        <div class="row mar-top40 mar-bot10">
            <div class="col-sm-10 col-sm-offset-1">
                <h3>CHECK OUT</h3>
                <hr>
                <div class="row steps-row">
                    <div class="col-sm-12">
                        <ol class="cd-multi-steps text-bottom">
                            <li class="ol-visited">
                                <a href="javascript:void(0)">Pickup Details</a>
                            </li>
                            <li class="ol-visited">
                                <a href="javascript:void(0)">Payment Options</a>
                            </li>
                            <li class="current">
                                <a href="javascript:void(0)">Order Summary</a>
                            </li>
                        </ol>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mar-top10 mar-bot20 checkout-flex">
            <flash-messages></flash-messages>
            <div class="col-md-7 mar-top20">
                <div class="row card-box1">
                    <p>{{establishmentData.name}}</p>
                    <p class="grey">{{establishmentData.address}}</p>
                    <div class="table-responsive mar-top20 mar-bot20">
                        <table class="table cartpage2-table">
                            <tr>
                                <th>Product</th>
                                <th style="white-space: nowrap;">Item Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            <tr *ngFor="let items of cartItems; let i = index" attr.data-cartId="{{items.id}}">
                                <td title="{{items.product.name}}">{{items.product.name}}</td>
                                <td class="cart-price">${{items.offer.salePrice}}
                                    <br>
                                    <span *ngIf="items.offer.salePrice != items.offer.originalPrice">${{items.offer.originalPrice}}</span>
                                </td>
                                <td>
                                    <div class="qty-input">
                                        <i class="less" (click)="updateCartQuantity($event, items.id)">-</i>
                                        <input type="text" class="quantity-input" value="{{items.quantity}}" />
                                        <i class="more" (click)="updateCartQuantity($event, items.id)">+</i>
                                        <br>
                                        <a href="javascript:void(0)" (click)="removeFromCart(items.id)" class="qty-remove">Remove</a>
                                    </div>
                                </td>
                                <td>${{ items.offer.salePrice | calculateCartPrice: items.quantity}} </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-sm-12 cartpage-border">
                        <div class="row cartpage-total1">
                            <div class="col-xs-6 col-sm-5 col-sm-offset-3">Subtotal:</div>
                            <div class="col-xs-6 col-sm-4">${{ cartItems | calculateSubtotal }}</div>
                        </div>
                        <div class="row cartpage-total1 mar-top10">
                            <div class="col-xs-6 col-sm-5 col-sm-offset-3">Tax:</div>
                            <div class="col-xs-6 col-sm-4">${{ cartItems | calculateTax }}</div>
                        </div>
                        <div class="row cartpage-total1 mar-top10">
                            <div class="col-xs-6 col-sm-5 col-sm-offset-3">Rewards: </div>
                            <div class="col-xs-6 col-sm-4">-${{ cartItems | calculateSavedPrice}}</div>
                        </div>
                    </div>
                    <div class="col-sm-12 cartpage-border0">
                        <div class="row cartpage-total1">
                            <div class="col-xs-6 col-sm-5 col-sm-offset-3">Total:</div>
                            <div class="col-xs-6 col-sm-4">${{ cartItems | calculateTotalPrice}}</div>
                        </div>
                        <div class="row cartpage-total1 mar-top10">
                            <div class="col-xs-6 col-sm-5 col-sm-offset-3 small-color">Points:</div>
                            <div class="col-xs-6 col-sm-4 small-color">{{ cartItems | calculatePointsEarned }} pts</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mar-top20">
                <div class="card-pickup1 row">
                    <div class="col-sm-12">
                        <h4>Pickup Time
                            <!-- <a href="javascript:;" class="p-edit">Edit</a> -->
                        </h4>
                        <p class="mar-bot20">{{ userPickupTime | amDateFormat: 'MMMM D, dddd' }}
                            <br>{{ userPickupTime |amDateFormat: 'hh:mm a' }}</p>
                        <agm-map style="width:100%;max-width: 380px;height:250px;" [latitude]="establishmentLatitude" [longitude]="establishmentLongitude" [scrollwheel]="false"
                            [zoom]="zoom">
                            <agm-marker [latitude]="establishmentLatitude" [longitude]="establishmentLongitude"></agm-marker>
                        </agm-map>
                        <h4 class="mar-top30 mar-bot20">Payment Options
                            <!-- <a href="javascript:;" class="p-edit">Edit</a> -->
                        </h4>
                        <div class="pickup-card1">
                            <p>{{userSavedCards['card'].brand }} ending **** {{userSavedCards['card'].last4}}</p>
                            <img src="{{userSavedCards['card'].brand | cardImage }}" width="40" alt="">
                        </div>
                        <button [disabled]="placeOrderIsDisabled" type="button" class="btn mar-top40 btn-placeOrder" (click)="place_order()">Place Order &nbsp;
                            <i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>