.cartpage1 .container {
    max-width: 970px;
}

section.cartpage1 {
    padding: 0px;
}

.code-flex input {
    padding: 7px 40px;
    border-radius: 15px;
    border: 1px solid #8D8D8D;
    box-shadow: none !important;
}

.code-flex button {
    font-family: 'Montserrat';
    box-shadow: none;
    padding: 7px 15px;
}

.cartpage1 .cartpage1-table .qty-input {
    display: inline-table;
}

.cartpage-border {
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E3D9;
    color: #8D8D8D;
    padding-right: 35px;
}

.cartpage-border0 {
    padding-top: 20px;
    font-weight: 600;
    padding-right: 35px;
}

.cartpage1 {
    margin-top: 118px;
}

.small-color {
    color: #9D2480;
    font-size: 14px;
    font-weight: 500;
}

.btn-yellow {
    background-color: #F78130;
}

.btn-check {
    font-family: 'directorsgothic230';
    font-size: 36px;
    width: 295px;
}

.register {
    border-color: #9D2480;
    color: #9D2480 !important;
}

.register:hover {
    border-color: #9D2480;
    background-color: #9D2480 !important;
}

.empty-cart {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    padding: 150px 15px 150px;
    color: #4A4A4A;
    text-align: center;
}

@media screen and (min-width:768px) and (max-width:911px) {
    .cartpage1 {
        margin-top: 138px;
    }
}

@media screen and (max-width:767px) {
    .cartpage-border {
        padding-right: 15px;
    }
    .cartpage-border0 {
        padding-right: 15px;
    }
    .btn-check {
        font-family: 'directorsgothic230';
        font-size: 26px;
        width: 150px;
        display: block;
        margin: 0 auto;
    }
    .shop01 {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
}

@media screen and (max-width:340px) {
    .code-flex input {
        padding: 7px 20px;
        width: 150px;
    }
    .code-flex {
        padding-left: 15px;
    }
}