<div *ngIf="cartItems.length == 0;then hideCheckout else showCheckout"></div>
<ng-template #hideCheckout>
    <section class="cartpage1">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>YOUR CART</h3>
                    <hr>
                    <p class="empty-cart">No Items In your Cart</p>
                </div>
            </div>
        </div>
    </section>
</ng-template>
<ng-template #showCheckout>
    <section class="cartpage1">
        <div class="container">
            <div class="row mar-top60">
                <div class="col-sm-10 col-sm-offset-1">
                    <h3>YOUR CART</h3>
                    <flash-messages></flash-messages>
                    <hr>
                    <p class="cart-id">CART ID : 28526028</p>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="innerpageheading1">{{establishmentData.name}}</p>
                                    <p class="innerpagewalk">
                                        <img src="assets/images/walk1.png" width="12" alt=""> {{ (establishmentDistance && establishmentDistance.status != "ZERO_RESULTS") ? establishmentDistance.duration.text
                                        : 'Unknown'}} {{userTravelMode}}</p>
                                </div>
                                <div class="col-sm-12">
                                    <p class="innerpageadd">{{establishmentData.address}}</p>
                                    <p class="innerpageadd">{{establishmentData.phoneNum}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive mar-top40">
                        <table class="table cartpage1-table">
                            <tr>
                                <th colspan="2">Product</th>
                                <th>Item Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            <tr *ngFor="let items of cartItems; let i = index">
                                <td width="75">
                                    <img src="{{ items.product | productImageUrl }}" width="75" alt="">
                                </td>
                                <td>
                                    <a [routerLink]="['/productdetail', items.offer.id]" title="{{items.product.name}}">{{items.product.name}}</a>
                                </td>
                                <td class="cart-price">${{items.offer.salePrice}}
                                    <br>
                                    <span *ngIf="items.offer.salePrice != items.offer.originalPrice">${{items.offer.originalPrice}}</span>
                                </td>
                                <td>
                                    <div *ngIf="isUserLoggedIn; then showLiveCart else showLocalCart"></div>
                                    <ng-template #showLiveCart>
                                        <div class="qty-input">
                                            <i class="less" (click)="updateCartQuantity($event, items.id)">-</i>
                                            <input type="text" class="quantity-input" value="{{items.quantity}}" />
                                            <i class="more" (click)="updateCartQuantity($event, items.id)">+</i>
                                            <br>
                                            <a href="javascript:void(0)" (click)="removeFromCart(items.id)" class="qty-remove">Remove</a>
                                        </div>
                                    </ng-template>
                                    <ng-template #showLocalCart>
                                        <div class="qty-input">
                                            <i class="less" (click)="updateCartQuantity($event, items.offer.id)">-</i>
                                            <input type="text" class="quantity-input" value="{{items.quantity}}" />
                                            <i class="more" (click)="updateCartQuantity($event, items.offer.id)">+</i>
                                            <br>
                                            <a href="javascript:void(0)" (click)="removeFromCart(items.offer.id)" class="qty-remove">Remove</a>
                                        </div>
                                    </ng-template>
                                </td>
                                <td>${{ items.offer.salePrice | calculateCartPrice: items.quantity}} </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-4">
                    <div class="row code-flex-div">
                        <div class="form-group code-flex">
                            <a (click)="clearPromocode($event)" class="search-input" style="position: absolute;font-size: 20px;top: 7px;right: 170px;">
                                <i class="fa fa-times"></i>
                            </a>
                            <input type="text" name="promocode" id="promocode" class="form-control" placeholder="Your Code">
                            <button type="button" class="btn" (click)="applyPromocode($event)">Apply</button>
                            <div style="width: 60%" class="text-center">
                                <label class="hidden validate-error" id="promocodeError"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 cartpage-border">
                        <div class="row cartpage-total1 mar-top10">
                            <div class="col-xs-6 col-sm-5 col-sm-offset-3">Subtotal:</div>
                            <div class="col-xs-6 col-sm-4">${{ cartItems | calculateSubtotal }}</div>
                        </div>
                        <div class="row cartpage-total1 ">
                            <div class="col-xs-6 col-sm-5 col-sm-offset-3">Tax:</div>
                            <div class="col-xs-6 col-sm-4">${{ cartItems | calculateTax }}</div>
                        </div>
                        <div class="row cartpage-total1 ">
                            <div class="col-xs-6 col-sm-5 col-sm-offset-3">Rewards: </div>
                            <div class="col-xs-6 col-sm-4">-${{ cartItems | calculateSavedPrice}}</div>
                        </div>

                    </div>
                    <div class="col-sm-12 cartpage-border0">
                        <div class="row cartpage-total1">
                            <div class="col-xs-6 col-sm-5 col-sm-offset-3">Total:</div>
                            <div class="col-xs-6 col-sm-4">${{ cartItems | calculateTotalPrice}}</div>
                        </div>
                        <div *ngIf="showEarnPointsText" class="row cartpage-total1 mar-top10">
                            <div class="col-xs-6 col-sm-5 col-sm-offset-3 small-color">Points:</div>
                            <div class="col-xs-6 col-sm-4 small-color">{{ cartItems | calculatePointsEarned }} pts</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mar-top30">
                <div class="col-sm-offset-1 col-sm-6 mar-bot20">
                    <a class="shop01" [routerLink]="['/productlisting']">&laquo; Continue Shopping</a>
                </div>
                <div class="col-sm-3 mar-bot40 chk-btn-nw">


                    <div *ngIf="isUserLoggedIn;then doCheckout else doLogin"></div>
                    <ng-template #doCheckout>
                        <button [routerLink]="['/cart-checkout']" class="btn btn-check" type="button" angulartics2On="click" angularticsAction="InitiatedCheckout"
                            angularticsLabel="action" angularticsValue="User has initiated Check Out" angularticsCategory="InitiatedCheckout"
                            angularticsProperties="{'accountId': loggedInUserData.id, 'quantity':cartItems.length, 'payment_info_avalilabe' : true }">Check Out</button>
                    </ng-template>
                    <ng-template #doLogin>
                        <button [routerLink]="['/cart-login']" class="btn btn-check" type="button">Check Out</button>
                    </ng-template>
                </div>
            </div>
        </div>
    </section>
</ng-template>