<div *ngIf="showDefaultHeader == false">
    <header class="default-header">
        <div class="header-container">
            <div class="topheader">
                <div class="container">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">

                            <ng-container *ngIf="isUserLoggedIn">
                                <a class="navbar-brand logo hidden-above-767" [routerLink]="['/productlisting']">
                                    <img src="assets/images/logo.png">
                                </a>
                            </ng-container>
                            <ng-container *ngIf="!isUserLoggedIn">
                                <a class="navbar-brand logo hidden-above-767" [routerLink]="['/']">
                                    <img src="assets/images/logo.png">
                                </a>
                            </ng-container>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                                aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <div class="dropdown cart-font hidden-above-767">
                                <a class="dropdown-toggle" [routerLink]="['/cart']">
                                    <img src="assets/images/cart.png" alt="" class="cart-head-img">
                                    <small class="qty-nom-hdr">{{ cartItems | totalCartItems }}</small>
                                </a>
                                <!-- <ul class="dropdown-menu cart-menu">
                                    <div class="container">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-sm-12 carthead">Your Cart</div>
                                                <div class="col-sm-6 col-xs-6" *ngFor="let items of cartItems; let i = index">
                                                    <div class="cartimg">
                                                        <img src="{{ items.product | productImageUrl }}" alt="">
                                                    </div>
                                                    <div class="cartcontent">
                                                        <p class="cartcontent-head fontmedium">
                                                            <a [routerLink]="['/productdetail', items.offer.id]" title="{{items.product.name}}">{{items.product.name}}</a> -</p>
                                                        <p class="cartcontent-main">{{items.offer.establishment.name}}
                                                            <br> {{items.product.category}}</p>
                                                        <p class="cartcontent-qty">{{items.quantity}}x</p>
                                                        <p class="cartcontent-price">${{items.offer.salePrice}}</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4 cartpricing">
                                            <div class="row">
                                                <div class="col-xs-6 fontmedium">Total:</div>
                                                <div class="col-xs-6">${{ cartItems | calculateTotalPrice}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 fontmedium">You Saved:</div>
                                                <div class="col-xs-6">${{ cartItems | calculateSavedPrice }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-6 fontmedium">Point Earned:</div>
                                                <div class="col-xs-6">{{ cartItems | calculatePointsEarned }} pts</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <button class="btn btn-cart" [routerLink]="['/cart']">Go to Cart &rsaquo;</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ul> -->
                            </div>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <div class="col-sm-5 col-md-5">
                                <ul class="nav navbar-nav pull-right">
                                    <ng-container *ngIf="isUserLoggedIn">
                                        <!-- <li>
                                            <a [routerLink]="['/profile']" class="{{ currentActivePage == '/profile' ? 'active' : ''}}">PROFILE</a>
                                        </li> -->
                                    </ng-container>
                                    <li>
                                        <a [routerLink]="['/help']">HELP</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-2 col-md-2 hidden-below-768 text-center">
                                <ng-container *ngIf="isUserLoggedIn">
                                    <a class="navbar-brand logo" [routerLink]="['/productlisting']">
                                        <img src="assets/images/logo.png">
                                    </a>
                                </ng-container>
                                <ng-container *ngIf="!isUserLoggedIn">
                                    <a class="navbar-brand logo" [routerLink]="['/']">
                                        <img src="assets/images/logo.png">
                                    </a>
                                </ng-container>
                            </div>
                            <div class="col-sm-5 col-md-5">
                                <ul class="nav navbar-nav menu-cart">
                                    <ng-container *ngIf="isUserLoggedIn">
                                        <li>
                                            <a [routerLink]="['/profile']">WELCOME {{loggedInUserData.firstName | uppercase}}</a>
                                        </li>
                                        <li>
                                            <a (click)="doSignOut()">SIGN OUT</a>
                                        </li>
                                    </ng-container>
                                    <ng-container *ngIf="!isUserLoggedIn">
                                        <li>
                                            <a [routerLink]="['/login']" class="">SIGN IN</a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['/login']" class="register">REGISTER</a>
                                        </li>
                                    </ng-container>

                                    <li class="dropdown cart-font hidden-below-768">
                                        <a class="dropdown-toggle qty-nom-hdr-box" data-toggle="dropdown" href="javascript:;">
                                            <img src="assets/images/cart.png" alt="" class="cart-head-img">
                                            <small class="qty-nom-hdr">{{ cartItems | totalCartItems }}</small>
                                        </a>

                                        <ul class="dropdown-menu cart-menu">
                                            <div class="container">
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="col-sm-12 carthead">Your Cart</div>
                                                        <div class="col-sm-6 col-xs-6" *ngFor="let items of cartItems; let i = index">
                                                            <div class="cartimg">
                                                                <img src="{{ items.product | productImageUrl }}" alt="">
                                                            </div>
                                                            <div class="cartcontent">
                                                                <p class="cartcontent-head fontmedium">
                                                                    <a [routerLink]="['/productdetail', items.offer.id]" title="{{items.product.name}}">{{items.product.name}}</a>
                                                                </p>
                                                                <p class="cartcontent-main">{{items.offer.establishment.name}}
                                                                    <br>{{items.product.category}}</p>
                                                                <p class="cartcontent-qty">{{items.quantity}}x</p>
                                                                <p class="cartcontent-price">${{items.offer.salePrice}}</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-4 cartpricing">
                                                    <div class="row">
                                                        <div class="col-xs-6 fontmedium">Total:</div>
                                                        <div class="col-xs-6">${{ cartItems | calculateTotalPrice}}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6 fontmedium">You Saved:</div>
                                                        <div class="col-xs-6">${{ cartItems | calculateSavedPrice }}</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-6 fontmedium">Point Earned:</div>
                                                        <div class="col-xs-6">{{ cartItems | calculatePointsEarned }} pts</div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <button class="btn btn-cart" [routerLink]="['/cart']">Go to Cart &rsaquo;</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </ul>

                                    </li>
                                </ul>
                            </div>

                        </div>
                        <!--/.nav-collapse -->

                    </nav>
                </div>
            </div>
            <!-- <div *ngIf="!isUserLoggedIn" class="bottomheader"> -->
            <div class="bottomheader" *ngIf="isUserLoggedIn">
                <div class="container">
                    <span class="c-white">Tell your friends about us and get $5 off your next order!</span>
                    <span class="c-white pull-right hidden-below-768">
                        <!-- <a *ngIf="isUserLoggedIn" class="invite-friend" href="mailto:?subject=Make your hour happy with Bevvi!!!&amp;body=Make your hour with Bevvi. Use my referral code {{loggedInUserData.code}} at checkout to enjoy $5 off your first Bevvi order.">Invite friends</a> -->
                        <a *ngIf="isUserLoggedIn" class="invite-friend" href="mailto:?subject=Make your hour happy with Bevvi!!!&amp;body=Get your drink on with Bevvi. We got you covered on the greatest deals even your mother will be happy. Here is $5 off your first order with promo code {{loggedInUserData.code}}. <a href='{{branchLink}}'>Visit</a>">Invite friends</a>
                        <!-- <a *ngIf="!isUserLoggedIn" class="invite-friend" [routerLink]="['/login']">Sign In</a> -->
                        <!-- <img src="assets/images/close.png" alt="" (click)="hideInviteBand()" class="invite-close"> -->
                    </span>
                </div>
            </div>
            <div class="bottomheader" *ngIf="!isUserLoggedIn">
                <div class="container">
                    <span class="c-white">Your Happy.. Your Hour..</span>
                    <!-- <span class="c-white pull-right hidden-below-768">
                        <a *ngIf="isUserLoggedIn" class="invite-friend" href="mailto:?subject=Make your hour happy with Bevvi!!!&amp;body=Make your hour with Bevvi. Use my referral code {{loggedInUserData.code}} at checkout to enjoy $5 off your first Bevvi order.">Invite friends</a>
                        <a *ngIf="!isUserLoggedIn" class="invite-friend" [routerLink]="['/login']">Sign In</a>
                        <img src="assets/images/close.png" alt="" (click)="hideInviteBand()" class="invite-close">
                    </span> -->
                </div>
            </div>
        </div>
    </header>
</div>
<div *ngIf="!showDefaultHeader == false">
    <header class="second-header">
        <div class="logo1">
            <ng-container *ngIf="isUserLoggedIn">
                <a [routerLink]="['/productlisting']">
                    <img src="assets/images/logo.png">
                </a>
            </ng-container>
            <ng-container *ngIf="!isUserLoggedIn">
                <a [routerLink]="['/']">
                    <img src="assets/images/logo.png">
                </a>
            </ng-container>
        </div>
    </header>
</div>
<div class="custom-margin-div">
    <router-outlet></router-outlet>
</div>
<a id="openReviewPopup" class="hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#review-modal"></a>
<div id="review-modal" class="modal fade first-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                    <div class="col-sm-10 col-sm-offset-1 review-products">
                        <h4>Hi Jason, we’d love your feedback!</h4>
                        <p>Please review your purchase. It only takes a minute and really helps !</p>
                        <div class="row">
                            <div class="col-sm-12">
                                <owl-carousel [options]="carouselOptions" [items]="productsToRate" [carouselClasses]="['owl-theme', 'row', 'sliding']">
                                    <div class="item" *ngFor="let product of productsToRate">
                                        <div class="review-01">
                                            <img src="{{ product | productImageUrl }}" alt="">
                                            <h5>{{product.name}}</h5>
                                            <p>Please rate your purchase.</p>
                                            <div class="stars" attr.data-productId="{{product.id}}">
                                                <star-rating-comp (onClick)="onRatingClick($event,product.id)" [starType]="'svg'" [staticColor]="'negative'" [direction]="'ltr'"
                                                    [step]="0.1" [showHalfStars]="true"></star-rating-comp>
                                            </div>
                                        </div>

                                    </div>
                                </owl-carousel>
                            </div>
                            <div class="row">
                                <button type="button" data-dismiss="modal" class="btn btn-thanks">Thank you</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="openLogoutPopup" class="hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#logout-modal">Logout</a>
<div id="logout-modal" class="modal fade first-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3>Your session has expired. Please login again to continue using the services</h3>
                            </div>
                            <div class="row">
                                <a (click)="doForceLogout()" data-dismiss="modal" class="btn btn-login">Login again</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="{{footerClass}}">
    <div class="footer-top">
        <div class="container">
            <div class="sociallinks">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/Bevvi-292702031258528/" target="_blank">
                            <span class="icon fa fa-facebook-square"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/getbevvi/" target="_blank">
                            <span class="icon fa fa-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footerlinks">
                <ul>
                    <li>
                        <a [routerLink]="['/termsOfUse']" target="_BLANK">TERMS OF USE</a>
                    </li>
                    <li>
                        <a [routerLink]="['/privacyPolicy']" target="_BLANK">PRIVACY POLICY</a>
                    </li>
                    <li>
                        <a href="mailto:sales@getbevvi.com?subject=Partner with Bevvi!!!&amp;body=We would be interested in knowing more about Bevvi. Please get back to us.<br><br>Our Email is: <br>Phone:.">PARTNER WITH US</a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <span>&copy; 2018 Etail Inc, All Rights Reserved</span>
            </div>
        </div>
    </div>
    <div class="footer-bottom" *ngIf="noShowFooterBottom">
        <div class="container text-center">
            <p>Find your spirits!
                <a [routerLink]="['/productlisting']" class="selectpickup-a">
                    <img src="assets/images/rarr.png" alt="" width="65">
                    <span>Start Now!</span>
                </a>
            </p>
        </div>
    </div>
</footer>