.footer-bottom {
    background-color: #f9811e;
    padding: 22px 10px;
}

.footer-bottom p {
    color: #fff;
    font-size: 48px;
    font-family: 'directorsgothic230-reg';
    margin-bottom: 0;
}

.footer-bottom p span {
    color: #231F20;
    font-family: 'Montserrat';
    font-size: 10px;
}

.footer-bottom img {
    position: absolute;
    margin-top: 45px;
    padding-left: 0px;
}

.copyright span {
    font-family: 'Lato', sans-serif;
    color: #FFF;
    font-size: 14px;
    margin-top: 30px;
    display: block;
    font-weight: 400;
}

.btn-login {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 36px;
    font-family: 'DirectorsGothic230';
    width: auto;
    padding: 4px 22px;
    border-radius: 15px;
    line-height: 45px;
}

@media screen and (max-width:360px) {
    .footer-bottom p {
        text-align: left;
    }
    .footer-bottom p span {
        position: absolute;
        margin-top: 27px;
    }
    .footer-bottom img {
        bottom: 30px;
    }
}

.invite-friend {
    color: white;
}